In [1]:
from google.cloud import storage

In [2]:
import config, tools, gcp_storage

In [3]:
from importlib import reload

In [4]:
bucket = config.gcs_data_bucket
bucket

'tpc-benchmark-9432'

In [5]:
gcs_client = storage.Client.from_service_account_json(config.gcp_cred_file)

In [396]:
fd = "/home/colin/data/test_uploads/1BGB/"

In [397]:
reload(gcp_storage)

d = gcp_storage.PooledSync(client=gcs_client,
                           bucket_name=bucket,
                           local_directory=fd)

In [398]:
d.local_files

array(['/home/colin/data/test_uploads/1BGB/h',
       '/home/colin/data/test_uploads/1BGB/ds',
       '/home/colin/data/test_uploads/1BGB/h/1000GB',
       '/home/colin/data/test_uploads/1BGB/h/1000GB/customer_demographics_5_12.dat',
       '/home/colin/data/test_uploads/1BGB/h/1000GB/customer_demographics_6_12.dat',
       '/home/colin/data/test_uploads/1BGB/h/1000GB/customer_demographics_4_12.dat',
       '/home/colin/data/test_uploads/1BGB/h/1000GB/customer_demographics_7_12.dat',
       '/home/colin/data/test_uploads/1BGB/ds/10GB',
       '/home/colin/data/test_uploads/1BGB/ds/1GB',
       '/home/colin/data/test_uploads/1BGB/ds/10GB/customer.tbl.5',
       '/home/colin/data/test_uploads/1BGB/ds/10GB/customer.tbl.4',
       '/home/colin/data/test_uploads/1BGB/ds/1GB/customer.tbl.2',
       '/home/colin/data/test_uploads/1BGB/ds/1GB/customer.tbl.3',
       '/home/colin/data/test_uploads/1BGB/ds/1GB/customer.tbl.1'],
      dtype='<U74')

In [399]:
d.pipeline()

In [401]:
reload(gcp_storage)
df = gcp_storage.parser(d.log)

In [402]:
df

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-03-24T17:54:09.522996,start,customer.tbl.2,,,,,2028688,,tpc-benchmark-9432
1,2020-03-24T17:54:14.123103,chunk,customer.tbl.2,262144,308,,,,,
2,2020-03-24T17:54:16.977025,chunk,customer.tbl.2,262144,308,,,,,
3,2020-03-24T17:54:20.264281,chunk,customer.tbl.2,262144,308,,,,,
4,2020-03-24T17:54:22.397526,chunk,customer.tbl.2,262144,308,,,,,
...,...,...,...,...,...,...,...,...,...,...
154,2020-03-24T17:54:57.955861,chunk,customer_demographics_7_12.dat,262144,308,,,,,
155,2020-03-24T17:54:58.412778,chunk,customer_demographics_7_12.dat,262144,308,,,,,
156,2020-03-24T17:54:58.832847,chunk,customer_demographics_7_12.dat,262144,308,,,,,
157,2020-03-24T17:54:59.001199,chunk,customer_demographics_7_12.dat,262144,200,,,,,
158,2020-03-24T17:54:59.001227,done,customer_demographics_7_12.dat,,,6615913,6615913,,,