## TPC-DS Data Upload  
Upload locally generated data to Google Cloud Storage

In [1]:
from google.cloud import storage

In [2]:
import config, gcp_storage

In [3]:
gcs_client = storage.Client.from_service_account_json(config.gcp_cred_file)

In [4]:
bucket_name = config.gcs_data_bucket
bucket_name

'tpc-benchmark-5947'

In [5]:
local_directory = config.fp_ds_output + config.sep + "1GB"
local_directory

'/home/colin/code/bq_snowflake_benchmark/ds/1GB'

local_directory = config.fp_ds_output + config.sep + "2GB"
local_directory

In [6]:
ps = gcp_storage.PooledSync(client=gcs_client,
                            bucket_name=bucket_name,
                            local_directory=local_directory,
                            local_base_directory=config.cwd)

In [7]:
ps.pipeline()

In [8]:
df1 = gcp_storage.parser(ps.log)

In [9]:
df1

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-04-14T20:46:29.642894,start,warehouse_1_12.dat,,,,,580,,tpc-benchmark-5947
1,2020-04-14T20:46:29.774942,chunk,warehouse_1_12.dat,262144,200,,,,,
2,2020-04-14T20:46:29.774948,done,warehouse_1_12.dat,,,580,580,,,
3,2020-04-14T20:46:31.013508,start,household_demographics_1_12.dat,,,,,144453,,tpc-benchmark-5947
4,2020-04-14T20:46:33.853985,chunk,household_demographics_1_12.dat,262144,200,,,,,
...,...,...,...,...,...,...,...,...,...,...
4826,2020-04-14T21:15:23.379506,chunk,store_returns_1_12.dat,262144,308,,,,,
4827,2020-04-14T21:15:23.777172,chunk,store_returns_1_12.dat,262144,308,,,,,
4828,2020-04-14T21:15:24.204728,chunk,store_returns_1_12.dat,262144,308,,,,,
4829,2020-04-14T21:15:24.531795,chunk,store_returns_1_12.dat,262144,200,,,,,
4830,2020-04-14T21:15:24.531806,done,store_returns_1_12.dat,,,32422491,32422491,,,