## TPC-DS Query Evaluation  
Evaluate performance of suite of TPC queries

In [1]:
from google.cloud import bigquery

In [2]:
import config

In [3]:
client = bigquery.Client.from_service_account_json(config.gcp_cred_file)

In [4]:
job_config = bigquery.QueryJobConfig()

In [5]:
job_config.default_dataset = "tpc-benchmarking-9432.ds_2GB_1_basic"

In [13]:
fp = '/home/colin/code/bq_snowflake_benchmark/q/ds_01_1GB_bq_default_qual/query_0.sql'
text = open(fp, 'r').read()
query_job = client.query(text, job_config=job_config)
result = query_job.result()

BadRequest: 400 Syntax error: Expected ")" but got integer literal "14" at [282:69]

(job ID: 568bc12b-2bab-4985-ab47-f9ccdf3a41d8)

                                                    -----Query Job SQL Follows-----

    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |    .    |
   1:
   2:with customer_total_return as
   3:(select sr_customer_sk as ctr_customer_sk
   4:,sr_store_sk as ctr_store_sk
   5:,sum(SR_FEE) as ctr_total_return
   6:from store_returns
   7:,date_dim
   8:where sr_returned_date_sk = d_date_sk
   9:and d_year =2000
  10:group by sr_customer_sk
  11:,sr_store_sk)
  12: select  c_customer_id
  13:from customer_total_return ctr1
  14:,store
  15:,customer
  16:where ctr1.ctr_total_return > (select avg(ctr_total_return)*1.2
  17:from customer_total_return ctr2
  18:where ctr1.ctr_store_sk = ctr2.ctr_store_sk)
  19:and s_store_sk = ctr1.ctr_store_sk
  20:and s_state = 'TN'
  21:and ctr1.ctr_customer_sk = c_customer_sk
  22:order by c_customer_id
  23:limit 100;
  24:
  25:
  26:
  27:with wscs as
  28: (select sold_date_sk
  29:        ,sales_price
  30:  from (select ws_sold_date_sk sold_date_sk
  31:              ,ws_ext_sales_price sales_price
  32:        from web_sales
  33:        union all
  34:        select cs_sold_date_sk sold_date_sk
  35:              ,cs_ext_sales_price sales_price
  36:        from catalog_sales)),
  37: wswscs as
  38: (select d_week_seq,
  39:        sum(case when (d_day_name='Sunday') then sales_price else null end) sun_sales,
  40:        sum(case when (d_day_name='Monday') then sales_price else null end) mon_sales,
  41:        sum(case when (d_day_name='Tuesday') then sales_price else  null end) tue_sales,
  42:        sum(case when (d_day_name='Wednesday') then sales_price else null end) wed_sales,
  43:        sum(case when (d_day_name='Thursday') then sales_price else null end) thu_sales,
  44:        sum(case when (d_day_name='Friday') then sales_price else null end) fri_sales,
  45:        sum(case when (d_day_name='Saturday') then sales_price else null end) sat_sales
  46: from wscs
  47:     ,date_dim
  48: where d_date_sk = sold_date_sk
  49: group by d_week_seq)
  50: select d_week_seq1
  51:       ,round(sun_sales1/sun_sales2,2)
  52:       ,round(mon_sales1/mon_sales2,2)
  53:       ,round(tue_sales1/tue_sales2,2)
  54:       ,round(wed_sales1/wed_sales2,2)
  55:       ,round(thu_sales1/thu_sales2,2)
  56:       ,round(fri_sales1/fri_sales2,2)
  57:       ,round(sat_sales1/sat_sales2,2)
  58: from
  59: (select wswscs.d_week_seq d_week_seq1
  60:        ,sun_sales sun_sales1
  61:        ,mon_sales mon_sales1
  62:        ,tue_sales tue_sales1
  63:        ,wed_sales wed_sales1
  64:        ,thu_sales thu_sales1
  65:        ,fri_sales fri_sales1
  66:        ,sat_sales sat_sales1
  67:  from wswscs,date_dim
  68:  where date_dim.d_week_seq = wswscs.d_week_seq and
  69:        d_year = 1998) y,
  70: (select wswscs.d_week_seq d_week_seq2
  71:        ,sun_sales sun_sales2
  72:        ,mon_sales mon_sales2
  73:        ,tue_sales tue_sales2
  74:        ,wed_sales wed_sales2
  75:        ,thu_sales thu_sales2
  76:        ,fri_sales fri_sales2
  77:        ,sat_sales sat_sales2
  78:  from wswscs
  79:      ,date_dim
  80:  where date_dim.d_week_seq = wswscs.d_week_seq and
  81:        d_year = 1998+1) z
  82: where d_week_seq1=d_week_seq2-53
  83: order by d_week_seq1;
  84:
  85:
  86:
  87:select  dt.d_year
  88:       ,item.i_brand_id brand_id
  89:       ,item.i_brand brand
  90:       ,sum(ss_sales_price) sum_agg
  91: from  date_dim dt
  92:      ,store_sales
  93:      ,item
  94: where dt.d_date_sk = store_sales.ss_sold_date_sk
  95:   and store_sales.ss_item_sk = item.i_item_sk
  96:   and item.i_manufact_id = 816
  97:   and dt.d_moy=11
  98: group by dt.d_year
  99:      ,item.i_brand
 100:      ,item.i_brand_id
 101: order by dt.d_year
 102:         ,sum_agg desc
 103:         ,brand_id
 104: limit 100;
 105:
 106:
 107:
 108:with year_total as (
 109: select c_customer_id customer_id
 110:       ,c_first_name customer_first_name
 111:       ,c_last_name customer_last_name
 112:       ,c_preferred_cust_flag customer_preferred_cust_flag
 113:       ,c_birth_country customer_birth_country
 114:       ,c_login customer_login
 115:       ,c_email_address customer_email_address
 116:       ,d_year dyear
 117:       ,sum(((ss_ext_list_price-ss_ext_wholesale_cost-ss_ext_discount_amt)+ss_ext_sales_price)/2) year_total
 118:       ,'s' sale_type
 119: from customer
 120:     ,store_sales
 121:     ,date_dim
 122: where c_customer_sk = ss_customer_sk
 123:   and ss_sold_date_sk = d_date_sk
 124: group by c_customer_id
 125:         ,c_first_name
 126:         ,c_last_name
 127:         ,c_preferred_cust_flag
 128:         ,c_birth_country
 129:         ,c_login
 130:         ,c_email_address
 131:         ,d_year
 132: union all
 133: select c_customer_id customer_id
 134:       ,c_first_name customer_first_name
 135:       ,c_last_name customer_last_name
 136:       ,c_preferred_cust_flag customer_preferred_cust_flag
 137:       ,c_birth_country customer_birth_country
 138:       ,c_login customer_login
 139:       ,c_email_address customer_email_address
 140:       ,d_year dyear
 141:       ,sum((((cs_ext_list_price-cs_ext_wholesale_cost-cs_ext_discount_amt)+cs_ext_sales_price)/2) ) year_total
 142:       ,'c' sale_type
 143: from customer
 144:     ,catalog_sales
 145:     ,date_dim
 146: where c_customer_sk = cs_bill_customer_sk
 147:   and cs_sold_date_sk = d_date_sk
 148: group by c_customer_id
 149:         ,c_first_name
 150:         ,c_last_name
 151:         ,c_preferred_cust_flag
 152:         ,c_birth_country
 153:         ,c_login
 154:         ,c_email_address
 155:         ,d_year
 156:union all
 157: select c_customer_id customer_id
 158:       ,c_first_name customer_first_name
 159:       ,c_last_name customer_last_name
 160:       ,c_preferred_cust_flag customer_preferred_cust_flag
 161:       ,c_birth_country customer_birth_country
 162:       ,c_login customer_login
 163:       ,c_email_address customer_email_address
 164:       ,d_year dyear
 165:       ,sum((((ws_ext_list_price-ws_ext_wholesale_cost-ws_ext_discount_amt)+ws_ext_sales_price)/2) ) year_total
 166:       ,'w' sale_type
 167: from customer
 168:     ,web_sales
 169:     ,date_dim
 170: where c_customer_sk = ws_bill_customer_sk
 171:   and ws_sold_date_sk = d_date_sk
 172: group by c_customer_id
 173:         ,c_first_name
 174:         ,c_last_name
 175:         ,c_preferred_cust_flag
 176:         ,c_birth_country
 177:         ,c_login
 178:         ,c_email_address
 179:         ,d_year
 180:         )
 181:  select
 182:                  t_s_secyear.customer_id
 183:                 ,t_s_secyear.customer_first_name
 184:                 ,t_s_secyear.customer_last_name
 185:                 ,t_s_secyear.customer_birth_country
 186: from year_total t_s_firstyear
 187:     ,year_total t_s_secyear
 188:     ,year_total t_c_firstyear
 189:     ,year_total t_c_secyear
 190:     ,year_total t_w_firstyear
 191:     ,year_total t_w_secyear
 192: where t_s_secyear.customer_id = t_s_firstyear.customer_id
 193:   and t_s_firstyear.customer_id = t_c_secyear.customer_id
 194:   and t_s_firstyear.customer_id = t_c_firstyear.customer_id
 195:   and t_s_firstyear.customer_id = t_w_firstyear.customer_id
 196:   and t_s_firstyear.customer_id = t_w_secyear.customer_id
 197:   and t_s_firstyear.sale_type = 's'
 198:   and t_c_firstyear.sale_type = 'c'
 199:   and t_w_firstyear.sale_type = 'w'
 200:   and t_s_secyear.sale_type = 's'
 201:   and t_c_secyear.sale_type = 'c'
 202:   and t_w_secyear.sale_type = 'w'
 203:   and t_s_firstyear.dyear =  1999
 204:   and t_s_secyear.dyear = 1999+1
 205:   and t_c_firstyear.dyear =  1999
 206:   and t_c_secyear.dyear =  1999+1
 207:   and t_w_firstyear.dyear = 1999
 208:   and t_w_secyear.dyear = 1999+1
 209:   and t_s_firstyear.year_total > 0
 210:   and t_c_firstyear.year_total > 0
 211:   and t_w_firstyear.year_total > 0
 212:   and case when t_c_firstyear.year_total > 0 then t_c_secyear.year_total / t_c_firstyear.year_total else null end
 213:           > case when t_s_firstyear.year_total > 0 then t_s_secyear.year_total / t_s_firstyear.year_total else null end
 214:   and case when t_c_firstyear.year_total > 0 then t_c_secyear.year_total / t_c_firstyear.year_total else null end
 215:           > case when t_w_firstyear.year_total > 0 then t_w_secyear.year_total / t_w_firstyear.year_total else null end
 216: order by t_s_secyear.customer_id
 217:         ,t_s_secyear.customer_first_name
 218:         ,t_s_secyear.customer_last_name
 219:         ,t_s_secyear.customer_birth_country
 220:limit 100;
 221:
 222:
 223:
 224:with ssr as
 225: (select s_store_id,
 226:        sum(sales_price) as sales,
 227:        sum(profit) as profit,
 228:        sum(return_amt) as returns,
 229:        sum(net_loss) as profit_loss
 230: from
 231:  ( select  ss_store_sk as store_sk,
 232:            ss_sold_date_sk  as date_sk,
 233:            ss_ext_sales_price as sales_price,
 234:            ss_net_profit as profit,
 235:            cast(0 as float64) as return_amt,
 236:            cast(0 as float64) as net_loss
 237:    from store_sales
 238:    union all
 239:    select sr_store_sk as store_sk,
 240:           sr_returned_date_sk as date_sk,
 241:           cast(0 as float64) as sales_price,
 242:           cast(0 as float64) as profit,
 243:           sr_return_amt as return_amt,
 244:           sr_net_loss as net_loss
 245:    from store_returns
 246:   ) salesreturns,
 247:     date_dim,
 248:     store
 249: where date_sk = d_date_sk
 250:       and d_date between cast('2000-08-19' as date)
 251:                  and date_add(cast('2000-08-19' as date), interval 14 days)
 252:       and store_sk = s_store_sk
 253: group by s_store_id)
 254: ,
 255: csr as
 256: (select cp_catalog_page_id,
 257:        sum(sales_price) as sales,
 258:        sum(profit) as profit,
 259:        sum(return_amt) as returns,
 260:        sum(net_loss) as profit_loss
 261: from
 262:  ( select  cs_catalog_page_sk as page_sk,
 263:            cs_sold_date_sk  as date_sk,
 264:            cs_ext_sales_price as sales_price,
 265:            cs_net_profit as profit,
 266:            cast(0 as float64) as return_amt,
 267:            cast(0 as float64) as net_loss
 268:    from catalog_sales
 269:    union all
 270:    select cr_catalog_page_sk as page_sk,
 271:           cr_returned_date_sk as date_sk,
 272:           cast(0 as float64) as sales_price,
 273:           cast(0 as float64) as profit,
 274:           cr_return_amount as return_amt,
 275:           cr_net_loss as net_loss
 276:    from catalog_returns
 277:   ) salesreturns,
 278:     date_dim,
 279:     catalog_page
 280: where date_sk = d_date_sk
 281:       and d_date between cast('2000-08-19' as date)
 282:                  and date_add(cast('2000-08-19' as date), inverval 14 days)
 283:       and page_sk = cp_catalog_page_sk
 284: group by cp_catalog_page_id)
 285: ,
 286: wsr as
 287: (select web_site_id,
 288:        sum(sales_price) as sales,
 289:        sum(profit) as profit,
 290:        sum(return_amt) as returns,
 291:        sum(net_loss) as profit_loss
 292: from
 293:  ( select  ws_web_site_sk as wsr_web_site_sk,
 294:            ws_sold_date_sk  as date_sk,
 295:            ws_ext_sales_price as sales_price,
 296:            ws_net_profit as profit,
 297:            cast(0 as float64) as return_amt,
 298:            cast(0 as float64) as net_loss
 299:    from web_sales
 300:    union all
 301:    select ws_web_site_sk as wsr_web_site_sk,
 302:           wr_returned_date_sk as date_sk,
 303:           cast(0 as float64) as sales_price,
 304:           cast(0 as float64) as profit,
 305:           wr_return_amt as return_amt,
 306:           wr_net_loss as net_loss
 307:    from web_returns left outer join web_sales on
 308:         ( wr_item_sk = ws_item_sk
 309:           and wr_order_number = ws_order_number)
 310:   ) salesreturns,
 311:     date_dim,
 312:     web_site
 313: where date_sk = d_date_sk
 314:       and d_date between cast('2000-08-19' as date)
 315:                  and (cast('2000-08-19' as date) +  14 days)
 316:       and wsr_web_site_sk = web_site_sk
 317: group by web_site_id)
 318:  select  channel
 319:        , id
 320:        , sum(sales) as sales
 321:        , sum(returns) as returns
 322:        , sum(profit) as profit
 323: from
 324: (select 'store channel' as channel
 325:        , 'store' || s_store_id as id
 326:        , sales
 327:        , returns
 328:        , (profit - profit_loss) as profit
 329: from   ssr
 330: union all
 331: select 'catalog channel' as channel
 332:        , 'catalog_page' || cp_catalog_page_id as id
 333:        , sales
 334:        , returns
 335:        , (profit - profit_loss) as profit
 336: from  csr
 337: union all
 338: select 'web channel' as channel
 339:        , 'web_site' || web_site_id as id
 340:        , sales
 341:        , returns
 342:        , (profit - profit_loss) as profit
 343: from   wsr
 344: ) x
 345: group by rollup (channel, id)
 346: order by channel
 347:         ,id
 348: limit 100;
 349:
 350:
 351:
 352:select  a.ca_state state, count(*) cnt
 353: from customer_address a
 354:     ,customer c
 355:     ,store_sales s
 356:     ,date_dim d
 357:     ,item i
 358: where       a.ca_address_sk = c.c_current_addr_sk
 359: 	and c.c_customer_sk = s.ss_customer_sk
 360: 	and s.ss_sold_date_sk = d.d_date_sk
 361: 	and s.ss_item_sk = i.i_item_sk
 362: 	and d.d_month_seq =
 363: 	     (select distinct (d_month_seq)
 364: 	      from date_dim
 365:               where d_year = 2002
 366: 	        and d_moy = 3 )
 367: 	and i.i_current_price > 1.2 *
 368:             (select avg(j.i_current_price)
 369: 	     from item j
 370: 	     where j.i_category = i.i_category)
 371: group by a.ca_state
 372: having count(*) >= 10
 373: order by cnt, a.ca_state
 374: limit 100;
 375:
 376:
 377:
 378:select  i_item_id,
 379:        avg(ss_quantity) agg1,
 380:        avg(ss_list_price) agg2,
 381:        avg(ss_coupon_amt) agg3,
 382:        avg(ss_sales_price) agg4
 383: from store_sales, customer_demographics, date_dim, item, promotion
 384: where ss_sold_date_sk = d_date_sk and
 385:       ss_item_sk = i_item_sk and
 386:       ss_cdemo_sk = cd_demo_sk and
 387:       ss_promo_sk = p_promo_sk and
 388:       cd_gender = 'F' and
 389:       cd_marital_status = 'W' and
 390:       cd_education_status = 'College' and
 391:       (p_channel_email = 'N' or p_channel_event = 'N') and
 392:       d_year = 2001
 393: group by i_item_id
 394: order by i_item_id
 395: limit 100;
 396:
 397:
 398:
 399:select  s_store_name
 400:      ,sum(ss_net_profit)
 401: from store_sales
 402:     ,date_dim
 403:     ,store,
 404:     (select ca_zip
 405:     from (
 406:      SELECT substr(ca_zip,1,5) ca_zip
 407:      FROM customer_address
 408:      WHERE substr(ca_zip,1,5) IN (
 409:                          '47602','16704','35863','28577','83910','36201',
 410:                          '58412','48162','28055','41419','80332',
 411:                          '38607','77817','24891','16226','18410',
 412:                          '21231','59345','13918','51089','20317',
 413:                          '17167','54585','67881','78366','47770',
 414:                          '18360','51717','73108','14440','21800',
 415:                          '89338','45859','65501','34948','25973',
 416:                          '73219','25333','17291','10374','18829',
 417:                          '60736','82620','41351','52094','19326',
 418:                          '25214','54207','40936','21814','79077',
 419:                          '25178','75742','77454','30621','89193',
 420:                          '27369','41232','48567','83041','71948',
 421:                          '37119','68341','14073','16891','62878',
 422:                          '49130','19833','24286','27700','40979',
 423:                          '50412','81504','94835','84844','71954',
 424:                          '39503','57649','18434','24987','12350',
 425:                          '86379','27413','44529','98569','16515',
 426:                          '27287','24255','21094','16005','56436',
 427:                          '91110','68293','56455','54558','10298',
 428:                          '83647','32754','27052','51766','19444',
 429:                          '13869','45645','94791','57631','20712',
 430:                          '37788','41807','46507','21727','71836',
 431:                          '81070','50632','88086','63991','20244',
 432:                          '31655','51782','29818','63792','68605',
 433:                          '94898','36430','57025','20601','82080',
 434:                          '33869','22728','35834','29086','92645',
 435:                          '98584','98072','11652','78093','57553',
 436:                          '43830','71144','53565','18700','90209',
 437:                          '71256','38353','54364','28571','96560',
 438:                          '57839','56355','50679','45266','84680',
 439:                          '34306','34972','48530','30106','15371',
 440:                          '92380','84247','92292','68852','13338',
 441:                          '34594','82602','70073','98069','85066',
 442:                          '47289','11686','98862','26217','47529',
 443:                          '63294','51793','35926','24227','14196',
 444:                          '24594','32489','99060','49472','43432',
 445:                          '49211','14312','88137','47369','56877',
 446:                          '20534','81755','15794','12318','21060',
 447:                          '73134','41255','63073','81003','73873',
 448:                          '66057','51184','51195','45676','92696',
 449:                          '70450','90669','98338','25264','38919',
 450:                          '59226','58581','60298','17895','19489',
 451:                          '52301','80846','95464','68770','51634',
 452:                          '19988','18367','18421','11618','67975',
 453:                          '25494','41352','95430','15734','62585',
 454:                          '97173','33773','10425','75675','53535',
 455:                          '17879','41967','12197','67998','79658',
 456:                          '59130','72592','14851','43933','68101',
 457:                          '50636','25717','71286','24660','58058',
 458:                          '72991','95042','15543','33122','69280',
 459:                          '11912','59386','27642','65177','17672',
 460:                          '33467','64592','36335','54010','18767',
 461:                          '63193','42361','49254','33113','33159',
 462:                          '36479','59080','11855','81963','31016',
 463:                          '49140','29392','41836','32958','53163',
 464:                          '13844','73146','23952','65148','93498',
 465:                          '14530','46131','58454','13376','13378',
 466:                          '83986','12320','17193','59852','46081',
 467:                          '98533','52389','13086','68843','31013',
 468:                          '13261','60560','13443','45533','83583',
 469:                          '11489','58218','19753','22911','25115',
 470:                          '86709','27156','32669','13123','51933',
 471:                          '39214','41331','66943','14155','69998',
 472:                          '49101','70070','35076','14242','73021',
 473:                          '59494','15782','29752','37914','74686',
 474:                          '83086','34473','15751','81084','49230',
 475:                          '91894','60624','17819','28810','63180',

###

list(result)