## TPC-H Data Upload  
Upload locally generated data to Google Cloud Storage

In [1]:
from google.cloud import storage

In [2]:
import config, gcp_storage

In [3]:
gcs_client = storage.Client.from_service_account_json(config.gcp_cred_file)

In [4]:
bucket_name = config.gcs_data_bucket
bucket_name

'tpc-benchmark-5947'

In [5]:
local_directory = config.fp_ds_output + config.sep + "1GB"
local_directory

'/home/colin/code/bq_snowflake_benchmark/ds/1GB'

In [6]:
ps = gcp_storage.PooledSync(client=gcs_client,
                            bucket_name=bucket_name,
                            local_directory=local_directory,
                            local_base_directory=config.cwd)

In [7]:
ps.pipeline()

In [8]:
df1 = gcp_storage.parser(ps.log)

In [9]:
local_directory = config.fp_ds_output + config.sep + "2GB"
local_directory

'/home/colin/code/bq_snowflake_benchmark/ds/2GB'

In [10]:
ps = gcp_storage.PooledSync(client=gcs_client,
                            bucket_name=bucket_name,
                            local_directory=local_directory,
                            local_base_directory=config.cwd)

In [11]:
ps.pipeline()

In [12]:
df2 = gcp_storage.parser(ps.log)

In [13]:
df1

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-04-03T19:27:35.467562,start,catalog_page_1_12.dat,,,,,1620074,,tpc-benchmark-5947
1,2020-04-03T19:27:38.580584,chunk,catalog_page_1_12.dat,262144,308,,,,,
2,2020-04-03T19:27:41.907144,chunk,catalog_page_1_12.dat,262144,308,,,,,
3,2020-04-03T19:27:44.109498,chunk,catalog_page_1_12.dat,262144,308,,,,,
4,2020-04-03T19:27:46.331635,chunk,catalog_page_1_12.dat,262144,308,,,,,
...,...,...,...,...,...,...,...,...,...,...
4826,2020-04-03T19:56:17.928696,chunk,store_returns_1_12.dat,262144,308,,,,,
4827,2020-04-03T19:56:18.366431,chunk,store_returns_1_12.dat,262144,308,,,,,
4828,2020-04-03T19:56:18.778086,chunk,store_returns_1_12.dat,262144,308,,,,,
4829,2020-04-03T19:56:19.219928,chunk,store_returns_1_12.dat,262144,200,,,,,
4830,2020-04-03T19:56:19.219957,done,store_returns_1_12.dat,,,32422491,32422491,,,

In [14]:
df2

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-04-03T19:56:21.827058,start,warehouse_1_12.dat,,,,,580,,tpc-benchmark-5947
1,2020-04-03T19:56:22.170321,chunk,warehouse_1_12.dat,262144,200,,,,,
2,2020-04-03T19:56:22.170349,done,warehouse_1_12.dat,,,580,580,,,
3,2020-04-03T19:56:23.972137,start,household_demographics_1_12.dat,,,,,144453,,tpc-benchmark-5947
4,2020-04-03T19:56:24.939175,chunk,household_demographics_1_12.dat,262144,200,,,,,
...,...,...,...,...,...,...,...,...,...,...
8706,2020-04-03T20:48:45.207922,chunk,store_returns_1_12.dat,262144,308,,,,,
8707,2020-04-03T20:48:45.596841,chunk,store_returns_1_12.dat,262144,308,,,,,
8708,2020-04-03T20:48:45.995404,chunk,store_returns_1_12.dat,262144,308,,,,,
8709,2020-04-03T20:48:46.129278,chunk,store_returns_1_12.dat,262144,200,,,,,
8710,2020-04-03T20:48:46.129308,done,store_returns_1_12.dat,,,65580422,65580422,,,