## TPC Query Execution - BIGQUERY

In [1]:
import config, bq

Set variables

In [2]:
test = "ds"
scale = 1
description = "query_tests"
project = "tpc-benchmarking-9432"
qual = None
db_name = "bq"

Generate project specific variables

In [3]:
tpl_dir = f"{config.fp_query_templates}{config.sep}{db_name}_{test}"
dataset = f"{test}_{scale}GB_01"

In [4]:
dataset = "ds_1GB_qual"

Sequence as accending through all available

In [5]:
query_sequence = list(range(1,23))
if test == "ds":
    query_sequence = list(range(1,99))

If needed, override sequence to evaluage a single query

query_sequence = 1
description = f"{query_sequence}_query_test"
query_sequence = [query_sequence]
save = True

Run query sequence

In [26]:
query_sequence = 8
description = f"{query_sequence}_query_test"
query_sequence = [query_sequence]
save = True

seq_done = bq.query_seq(desc=description,
                        test=test,
                        seq=query_sequence,
                        templates_dir=tpl_dir,
                        scale=scale,
                        project=project,
                        dataset=dataset,
                        qual=qual,
                        dry_run=False,
                        use_cache=False,
                        save=save,
                        verbose=True,
                        verbose_iter=True,
                        verbose_query=True
                        )
print("Sequence Done:", seq_done)
print("=======================")

===============
START QUERY: 8
TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query8.tpl', '-FILTER', '-DIALECT', 'sqlserver_bq', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/bq_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools

Query Statistics
================
Total Time Elapsed: 0:00:01.499000
Bytes Processed: 69633611
Bytes Billed: 70254592

Result:
=======
  s_store_name          f0_
0        ation -11083526.13
1         eing -10837429.31
2          ese -11375251.58

QUERY EXECUTED
==============

select  s_store_name
      ,sum(ss_net_profit)
 from store_sales
     ,date_dim
     ,store,
     (select ca_zip
     from (
      SELECT substr(ca_zip,1,5) ca_zip
      FROM customer_address
      WHERE substr(ca_zip,1,5) IN (
                          '16970','14591','31741','99320','80090','42967',
                          '20993','92431','62505','69423','75664',
                          '34264','75797','75529','43832','36609',
                          '80681','89508','50834','93957','27705',
                          '81475','69270','22450','89916','42458',
                          '86641','14439','14998','29531','18145',
                          '68557','14716','69371','48137','94642',
                          '12188','26115','17354','50086','74631',
                          '35734','64851','31181','46506','48575',
                          '99525','54963','43818','14035','45082',
                          '85678','19275','94819','46427','52045',
                          '67527','68432','93774','92645','10270',
                          '48777','12836','18958','98317','18026',
                          '32687','76546','83201','44130','81993',
                          '22166','20244','99064','50979','15901',
                          '55506','74393','67322','15228','35340',
                          '47576','68434','95338','24605','66386',
                          '68543','77343','79100','62575','47504',
                          '83659','48978','36595','16382','93537',
                          '18246','67912','36754','52638','87632',
                          '18425','87635','40036','28523','36126',
                          '25427','11162','56167','91489','21838',
                          '18181','11157','54159','27271','75405',
                          '78553','97894','69894','61710','59734',
                          '97770','61246','85870','83136','37981',
                          '24706','20155','65785','57919','33130',
                          '10570','38999','93448','60025','71439',
                          '59692','67610','22195','76652','56142',
                          '11168','55722','63759','61260','25457',
                          '66549','56907','84415','83520','92071',
                          '30745','51445','83358','10315','28430',
                          '90567','16037','49724','70095','78659',
                          '71666','57335','25932','78095','62816',
                          '71673','72158','76995','28708','40363',
                          '90006','19880','86301','41973','62417',
                          '23729','18005','34066','33911','91418',
                          '14138','36767','88244','73034','53712',
                          '14558','21986','27159','33740','20476',
                          '93703','89027','82426','44681','60395',
                          '21077','79398','97032','23460','68639',
                          '62013','85957','16550','89880','16168',
                          '67002','15873','51051','73927','41006',
                          '99021','56828','62908','28083','43216',
                          '83035','49034','73314','80121','63088',
                          '42403','52054','20877','37069','63962',
                          '14351','82128','32069','41797','75746',
                          '57164','40891','33146','14465','11451',
                          '50998','35961','54341','74116','69408',
                          '17344','61595','64767','90917','68233',
                          '18849','22386','37908','61128','28330',
                          '69295','44035','27715','10536','45564',
                          '13915','55328','91801','57713','27625',
                          '24622','83425','16368','90255','78724',
                          '59543','64100','45900','31685','31358',
                          '74376','32777','54388','10348','66821',
                          '39955','61171','64350','93108','25445',
                          '80395','17939','86734','91612','32484',
                          '38078','57838','91527','62103','80248',
                          '19384','17426','13243','84871','35038',
                          '62756','90011','12799','10819','67867',
                          '24365','37716','55583','50201','45724',
                          '70263','15411','58418','39633','34471',
                          '46280','29256','22186','54899','76452',
                          '61995','44950','83386','97866','54661',
                          '59053','62076','33096','13366','92025',
                          '63469','57520','27991','93410','81845',
                          '59959','28408','66718','32321','60467',
                          '92509','31945','39308','45905','72065',
                          '91010','19619','26276','42866','20166',
                          '12380','22979','70868','17761','13419',
                          '55257','76475','64868','97865','15274',
                          '14961','16135','83716','36529','21944',
                          '32062','56400','32783','53008','47803',
                          '17349','73806','60867','15980','42582',
                          '90105','38891','27006','10514','92145',
                          '77456','22856','42380','23894','58886',
                          '82017','58721','90138','56103','48354',
                          '62707','15151','66707','41286','26772',
                          '63532','22805','28740','86822','39261',
                          '34141','44908','57509','55042')
     intersect distinct
      select ca_zip
      from (SELECT substr(ca_zip,1,5) ca_zip,count(*) cnt
            FROM customer_address, customer
            WHERE ca_address_sk = c_current_addr_sk and
                  c_preferred_cust_flag='Y'
            group by ca_zip
            having count(*) > 10)A1)A2) V1
 where ss_store_sk = s_store_sk
  and ss_sold_date_sk = d_date_sk
  and d_qoy = 1 and d_year = 2002
  and (substr(s_zip,1,2) = substr(V1.ca_zip,1,2))
 group by s_store_name
 order by s_store_name
 limit 100;



----------------------------------------
Total Time Elapsed: 0:00:01.499000
Bytes Processed: 69633611
Bytes Billed: 70254592
----------------------------------------
QUERY: 8
=========

Sequence Done: True
=======================

In [ ]:
break

Stream sequence is 1 through 20 for both TPC-H and TPC-DS

In [ ]:
stream_sequence = range(20)

If needed, override sequence for single query

In [ ]:
stream_sequence = 1
stream_sequence = [stream_sequence]

In [ ]:
seq_done = bq.stream_seq(desc=description,
                         test=test,
                         seq=stream_sequence,
                         templates_dir=tpl_dir,
                         scale=scale,
                         project=project,
                         dataset=dataset,
                         qual=qual,
                         dry_run=False,
                         use_cache=False,
                         verbose=False,
                         verbose_iter=True,
                         verbose_query=True 
                        )
print("Sequence Done:", seq_done)