## TPC-H Data Upload  
Upload locally generated data to Google Cloud Storage

In [1]:
from google.cloud import storage

In [2]:
import config, gcp_storage

In [3]:
gcs_client = storage.Client.from_service_account_json(config.gcp_cred_file)

In [4]:
bucket_name = config.gcs_data_bucket
bucket_name

'tpc-benchmark-5947'

In [5]:
local_directory = config.fp_h_output + config.sep + "1GB"
local_directory

'/home/colin/code/bq_snowflake_benchmark/h/1GB'

In [6]:
ps = gcp_storage.PooledSync(client=gcs_client,
                            bucket_name=bucket_name,
                            local_directory=local_directory,
                            local_base_directory=config.cwd)

In [7]:
ps.pipeline()

In [8]:
df1 = gcp_storage.parser(ps.log)

In [9]:
local_directory = config.fp_h_output + config.sep + "2GB"
local_directory

'/home/colin/code/bq_snowflake_benchmark/h/2GB'

In [10]:
ps = gcp_storage.PooledSync(client=gcs_client,
                            bucket_name=bucket_name,
                            local_directory=local_directory,
                            local_base_directory=config.cwd)

In [11]:
ps.pipeline()

In [12]:
df2 = gcp_storage.parser(ps.log)

In [13]:
df1

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-04-01T10:55:33.103529,start,customer.tbl.2,,,,,2016188,,tpc-benchmark-5947
1,2020-04-01T10:55:36.631339,chunk,customer.tbl.2,262144,308,,,,,
2,2020-04-01T10:55:41.546815,chunk,customer.tbl.2,262144,308,,,,,
3,2020-04-01T10:55:46.063134,chunk,customer.tbl.2,262144,308,,,,,
4,2020-04-01T10:55:48.149126,chunk,customer.tbl.2,262144,308,,,,,
...,...,...,...,...,...,...,...,...,...,...
4344,2020-04-01T11:20:58.208081,chunk,lineitem.tbl.12,262144,308,,,,,
4345,2020-04-01T11:20:58.615710,chunk,lineitem.tbl.12,262144,308,,,,,
4346,2020-04-01T11:20:59.012988,chunk,lineitem.tbl.12,262144,308,,,,,
4347,2020-04-01T11:20:59.238730,chunk,lineitem.tbl.12,262144,200,,,,,
4348,2020-04-01T11:20:59.238759,done,lineitem.tbl.12,,,63009059,63009059,,,

In [14]:
df2

,dt,action,file,chunk_size,http_code,bytes_uploaded,total_bytes,f_size,exception,bucket
0,2020-04-01T11:21:01.711392,start,customer.tbl.2,,,,,4025160,,tpc-benchmark-5947
1,2020-04-01T11:21:04.874728,chunk,customer.tbl.2,262144,308,,,,,
2,2020-04-01T11:21:07.405869,chunk,customer.tbl.2,262144,308,,,,,
3,2020-04-01T11:21:10.336906,chunk,customer.tbl.2,262144,308,,,,,
4,2020-04-01T11:21:13.305626,chunk,customer.tbl.2,262144,308,,,,,
...,...,...,...,...,...,...,...,...,...,...
8568,2020-04-01T12:12:42.457670,chunk,lineitem.tbl.12,262144,308,,,,,
8569,2020-04-01T12:12:42.882681,chunk,lineitem.tbl.12,262144,308,,,,,
8570,2020-04-01T12:12:43.785854,chunk,lineitem.tbl.12,262144,308,,,,,
8571,2020-04-01T12:12:44.241811,chunk,lineitem.tbl.12,262144,200,,,,,
8572,2020-04-01T12:12:44.241841,done,lineitem.tbl.12,,,127576906,127576906,,,