In [1]:
import config, sfa, poor_security

In [2]:
sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000", 
               desc="dev_test_01",
               verbose=True,
               verbose_query=False)

sf.connect()

t0, t1, query_result, query_text = sf.query_n(n=4, std_out=False)

sf.close()
query_result.fetch_pandas_all()

Snowflake configuration
=======================
Username: colin
Account:  wja13212

TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query4.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools

,CUSTOMER_ID,CUSTOMER_FIRST_NAME,CUSTOMER_LAST_NAME,CUSTOMER_EMAIL_ADDRESS
0,AAAAAAAAHNLKAAAA,Brian,Cruz,Brian.Cruz@i5.edu
1,AAAAAAAAJOLJAAAA,Debbie,Lawrence,Debbie.Lawrence@G.com
2,AAAAAAAAODNFAAAA,Kimberly,Paige,Kimberly.Paige@NbfsBa0kRonyegLd.org

In [3]:
sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000", 
               desc="dev_test_01",
               verbose=True,
               verbose_query=False)

sf.connect()

sf.query_seq([1, 2],
             qual=None, save=True, verbose_iter=True)

sf.close()

Snowflake configuration
=======================
Username: colin
Account:  wja13212

===============
START QUERY: 1
QUERY Label: ds_1gb_01-1-dev_test_01
TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query1.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools

QUERY: 1
========================================
Query ID: 01943ac2-02f0-820f-0009-c0830002ed92
Total Time Elapsed: 0 days 00:00:00.446248
----------------------------------------

Head of Result:
===============
      C_CUSTOMER_ID
0  AAAAAAAAAAADAAAA
1  AAAAAAAAAABABAAA
2  AAAAAAAAAABABAAA
3  AAAAAAAAAABBBAAA
4  AAAAAAAAAABLAAAA

===============
START QUERY: 2
QUERY Label: ds_1gb_01-2-dev_test_01
TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query2.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools

QUERY: 2
========================================
Query ID: 01943ac2-02b6-7000-0009-c0830002fc9e
Total Time Elapsed: 0 days 00:00:01.704501
----------------------------------------

Head of Result:
===============
   D_WEEK_SEQ1 ROUND(SUN_SALES1/SUN_SALES2,2) ROUND(MON_SALES1/MON_SALES2,2)  \
0         5270                           3.95                           1.54
1         5270                           3.95                           1.54
2         5270                           3.95                           1.54
3         5270                           3.95                           1.54
4         5270                           3.95                           1.54

  ROUND(TUE_SALES1/TUE_SALES2,2) ROUND(WED_SALES1/WED_SALES2,2)  \
0                           2.04                           1.41
1                           2.04                           1.41
2                           2.04                           1.41
3                           2.04                           1.41
4                           2.04                           1.41

  ROUND(THU_SALES1/THU_SALES2,2) ROUND(FRI_SALES1/FRI_SALES2,2)  \
0                           3.50                           3.50
1                           3.50                           3.50
2                           3.50                           3.50
3                           3.50                           3.50
4                           3.50                           3.50

  ROUND(SAT_SALES1/SAT_SALES2,2)
0                           3.41
1                           3.41
2                           3.41
3                           3.41
4                           3.41

Query Sequence Statistics
=========================
Total Time Elapsed: 0 days 00:00:03.925713