In [1]:
import config, sfa, poor_security

In [2]:
from importlib import reload

In [29]:
reload(sfa)
reload(config)

sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000", 
               desc="dev_test_01",
               verbose_query=False, verbose=True)

sf.connect()

t0, t1, query_result, query_text = sf.query_n(n=4, verbose=True, verbose_out=False)

sf.close()

Snowflake configuration
=======================
Username: colin
Account:  wja13212

TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query4.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools

query_result.fetch_pandas_all()

In [31]:
reload(sfa)
reload(config)

sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000", 
               desc="dev_test_01",
               verbose_query=False, verbose=True)

sf.connect()

sf.query_seq([1,2],
             qual=None, save=False,
             verbose=True, verbose_iter=True, verbose_query=True)

sf.close()

Snowflake configuration
=======================
Username: colin
Account:  wja13212

===============
START QUERY: 1
QUERY Label: ds_1gb_01-1-dev_test_01
TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query1.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools


QUERY EXECUTED
==============

with customer_total_return as
(select sr_customer_sk as ctr_customer_sk
,sr_store_sk as ctr_store_sk
,sum(SR_RETURN_AMT) as ctr_total_return
from store_returns
,date_dim
where sr_returned_date_sk = d_date_sk
and d_year =1998
group by sr_customer_sk
,sr_store_sk)
 select  c_customer_id
from customer_total_return ctr1
,store
,customer
where ctr1.ctr_total_return > (select avg(ctr_total_return)*1.2
from customer_total_return ctr2
where ctr1.ctr_store_sk = ctr2.ctr_store_sk)
and s_store_sk = ctr1.ctr_store_sk
and s_state = 'TN'
and ctr1.ctr_customer_sk = c_customer_sk
order by c_customer_id
limit 100;



QUERY: 1
========================================
Query ID: 01943621-02f3-580d-0009-c0830003026a
Total Time Elapsed: 0 days 00:00:00.965975
----------------------------------------

Head of Result:
===============
      C_CUSTOMER_ID  query_n
0  AAAAAAAAAAADAAAA        1
1  AAAAAAAAAABABAAA        1
2  AAAAAAAAAABABAAA        1
3  AAAAAAAAAABBBAAA        1
4  AAAAAAAAAABLAAAA        1

===============
START QUERY: 2
QUERY Label: ds_1gb_01-2-dev_test_01
TPC-DS dsqgen parameters
========================
command & kwargs: ['./dsqgen', '-VERBOSE', '-SCALE', '1', '-RNGSEED', '13', '-TEMPLATE', 'query2.tpl', '-FILTER', '-DIALECT', 'sqlserver_tpc', '-DIRECTORY', '/home/colin/code/bq_snowflake_benchmark/tpl/sf_ds']
cwd: /home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/tools


QUERY EXECUTED
==============

with wscs as
 (select sold_date_sk
        ,sales_price
  from (select ws_sold_date_sk sold_date_sk
              ,ws_ext_sales_price sales_price
        from web_sales
        union all
        select cs_sold_date_sk sold_date_sk
              ,cs_ext_sales_price sales_price
        from catalog_sales)),
 wswscs as
 (select d_week_seq,
        sum(case when (d_day_name='Sunday') then sales_price else null end) sun_sales,
        sum(case when (d_day_name='Monday') then sales_price else null end) mon_sales,
        sum(case when (d_day_name='Tuesday') then sales_price else  null end) tue_sales,
        sum(case when (d_day_name='Wednesday') then sales_price else null end) wed_sales,
        sum(case when (d_day_name='Thursday') then sales_price else null end) thu_sales,
        sum(case when (d_day_name='Friday') then sales_price else null end) fri_sales,
        sum(case when (d_day_name='Saturday') then sales_price else null end) sat_sales
 from wscs
     ,date_dim
 where d_date_sk = sold_date_sk
 group by d_week_seq)
 select d_week_seq1
       ,round(sun_sales1/sun_sales2,2)
       ,round(mon_sales1/mon_sales2,2)
       ,round(tue_sales1/tue_sales2,2)
       ,round(wed_sales1/wed_sales2,2)
       ,round(thu_sales1/thu_sales2,2)
       ,round(fri_sales1/fri_sales2,2)
       ,round(sat_sales1/sat_sales2,2)
 from
 (select wswscs.d_week_seq d_week_seq1
        ,sun_sales sun_sales1
        ,mon_sales mon_sales1
        ,tue_sales tue_sales1
        ,wed_sales wed_sales1
        ,thu_sales thu_sales1
        ,fri_sales fri_sales1
        ,sat_sales sat_sales1
  from wswscs,date_dim
  where date_dim.d_week_seq = wswscs.d_week_seq and
        d_year = 2001) y,
 (select wswscs.d_week_seq d_week_seq2
        ,sun_sales sun_sales2
        ,mon_sales mon_sales2
        ,tue_sales tue_sales2
        ,wed_sales wed_sales2
        ,thu_sales thu_sales2
        ,fri_sales fri_sales2
        ,sat_sales sat_sales2
  from wswscs
      ,date_dim
  where date_dim.d_week_seq = wswscs.d_week_seq and
        d_year = 2001+1) z
 where d_week_seq1=d_week_seq2-53
 order by d_week_seq1;



QUERY: 2
========================================
Query ID: 01943621-0260-8563-0009-c0830002f22a
Total Time Elapsed: 0 days 00:00:01.539352
----------------------------------------

Head of Result:
===============
   D_WEEK_SEQ1 ROUND(SUN_SALES1/SUN_SALES2,2) ROUND(MON_SALES1/MON_SALES2,2)  \
0         5270                           3.95                           1.54
1         5270                           3.95                           1.54
2         5270                           3.95                           1.54
3         5270                           3.95                           1.54
4         5270                           3.95                           1.54

  ROUND(TUE_SALES1/TUE_SALES2,2) ROUND(WED_SALES1/WED_SALES2,2)  \
0                           2.04                           1.41
1                           2.04                           1.41
2                           2.04                           1.41
3                           2.04                           1.41
4                           2.04                           1.41

  ROUND(THU_SALES1/THU_SALES2,2) ROUND(FRI_SALES1/FRI_SALES2,2)  \
0                           3.50                           3.50
1                           3.50                           3.50
2                           3.50                           3.50
3                           3.50                           3.50
4                           3.50                           3.50

  ROUND(SAT_SALES1/SAT_SALES2,2)  query_n
0                           3.41        2
1                           3.41        2
2                           3.41        2
3                           3.41        2
4                           3.41        2

Query Sequence Statistics
=========================
Total Time Elapsed: 0 days 00:00:05.180924