In [36]:
import re
import string

In [4]:
import config, tools

In [23]:
dtype_mapper = {r' UNION\n': r' UNION ALL\n',
                r' AS DECIMAL\(\d+,\d+\)\)': r'',
                #r'CAST\(': r'',
                r' union\n': r' union all\n',
                r' as decimal\(\d+,\d+\)\)': r'',
                #r'cast\(': r'',
                r' as decimal\(\d+,\d+\) ': r'',
                r'cast\((\w+)\)': r''
                }

In [84]:
x = """
select  ss_store_sk as store_sk,
            ss_sold_date_sk  as date_sk,
            ss_ext_sales_price as sales_price,
            ss_net_profit as profit,
            cast(0 as decimal(7,2)) as return_amt,
            cast(0 as decimal(7,2)) as net_loss
    select sr_store_sk as store_sk,
           sr_returned_date_sk as date_sk,
           cast(0 as decimal(7,2)) as sales_price,
           cast(0 as decimal(7,2)) as profit,
           sr_return_amt as return_amt,
 where date_sk = d_date_sk
       and d_date between cast('[SALES_DATE]' as date) 
                  and (cast('[SALES_DATE]' as date) +  14 days)
       and store_sk = s_store_sk
"""

In [85]:
print(x)

select  ss_store_sk as store_sk,
            ss_sold_date_sk  as date_sk,
            ss_ext_sales_price as sales_price,
            ss_net_profit as profit,
            cast(0 as decimal(7,2)) as return_amt,
            cast(0 as decimal(7,2)) as net_loss
    select sr_store_sk as store_sk,
           sr_returned_date_sk as date_sk,
           cast(0 as decimal(7,2)) as sales_price,
           cast(0 as decimal(7,2)) as profit,
           sr_return_amt as return_amt,
 where date_sk = d_date_sk
       and d_date between cast('[SALES_DATE]' as date)
                  and (cast('[SALES_DATE]' as date) +  14 days)
       and store_sk = s_store_sk

In [86]:
r = tools.regex_replace(x, replace_mapper=dtype_mapper)
print(r)

select  ss_store_sk as store_sk,
            ss_sold_date_sk  as date_sk,
            ss_ext_sales_price as sales_price,
            ss_net_profit as profit,
            cast(0 as return_amt,
            cast(0 as net_loss
    select sr_store_sk as store_sk,
           sr_returned_date_sk as date_sk,
           cast(0 as sales_price,
           cast(0 as profit,
           sr_return_amt as return_amt,
 where date_sk = d_date_sk
       and d_date between cast('[SALES_DATE]' as date)
                  and (cast('[SALES_DATE]' as date) +  14 days)
       and store_sk = s_store_sk

In [38]:
legal_chars = string.ascii_lowercase + string.digits + "!#$%&'*+-.^_`|~:"
legal_chars

"abcdefghijklmnopqrstuvwxyz0123456789!#$%&'*+-.^_`|~:"

In [99]:
dtype_mapper = {r' UNION\n': r' UNION ALL\n',
                r' union\n': r' union all\n',

                #r' as decimal\(\d+,\d+\)\) ': r'',
                }
r = tools.regex_replace(x, replace_mapper=dtype_mapper)
print(r)

select  ss_store_sk as store_sk,
            ss_sold_date_sk  as date_sk,
            ss_ext_sales_price as sales_price,
            ss_net_profit as profit,
            cast(0 as float64) as return_amt,
            cast(0 as float64) as net_loss
    select sr_store_sk as store_sk,
           sr_returned_date_sk as date_sk,
           cast(0 as float64) as sales_price,
           cast(0 as float64) as profit,
           sr_return_amt as return_amt,
 where date_sk = d_date_sk
       and d_date between cast('[SALES_DATE]' as date)
                  and (cast('[SALES_DATE]' as date) +  14 days)
       and store_sk = s_store_sk

In [89]:
print(x)

select  ss_store_sk as store_sk,
            ss_sold_date_sk  as date_sk,
            ss_ext_sales_price as sales_price,
            ss_net_profit as profit,
            cast(0 as decimal(7,2)) as return_amt,
            cast(0 as decimal(7,2)) as net_loss
    select sr_store_sk as store_sk,
           sr_returned_date_sk as date_sk,
           cast(0 as decimal(7,2)) as sales_price,
           cast(0 as decimal(7,2)) as profit,
           sr_return_amt as return_amt,
 where date_sk = d_date_sk
       and d_date between cast('[SALES_DATE]' as date)
                  and (cast('[SALES_DATE]' as date) +  14 days)
       and store_sk = s_store_sk

In [87]:
re.findall(r'cast\(.*?as date\)', x)

["cast('[SALES_DATE]' as date)", "cast('[SALES_DATE]' as date)"]

In [66]:
p = re.search(r'cast\(.*?\)', x)
print(p)

<re.Match object; span=(54, 82), match="cast('[SALES_DATE]' as date)">

In [67]:
p.group(0)

"cast('[SALES_DATE]' as date)"

In [68]:
p = re.match(r'cast\(.*?\)', x)
print(p)

None

In [92]:
for line in x.split("\n"):
    #print("X", line)
    p = re.search(r'cast\(.*?as date\)', line)
    #print(p)
    if p is not None:
        print("X", line)
        print(p.start(), p.end())
        print(line[p.start()+5:p.end()-8])
    else:
        print(" ", line)

  select  ss_store_sk as store_sk,
              ss_sold_date_sk  as date_sk,
              ss_ext_sales_price as sales_price,
              ss_net_profit as profit,
              cast(0 as decimal(7,2)) as return_amt,
              cast(0 as decimal(7,2)) as net_loss
      select sr_store_sk as store_sk,
             sr_returned_date_sk as date_sk,
             cast(0 as decimal(7,2)) as sales_price,
             cast(0 as decimal(7,2)) as profit,
             sr_return_amt as return_amt,
   where date_sk = d_date_sk
X        and d_date between cast('[SALES_DATE]' as date)
26 54
'[SALES_DATE]'
X                   and (cast('[SALES_DATE]' as date) +  14 days)
23 51
'[SALES_DATE]'
         and store_sk = s_store_sk

In [98]:
for line in x.split("\n"):
    #print("X", line)
    p = re.search(r'cast\(*as decimal\(*\)\)\)', line)
    #print(p)
    if p is not None:
        print("X", line)
        print(p.start(), p.end())
        print(line[p.start()+5:p.end()-8])
    else:
        print(" ", line)

  select  ss_store_sk as store_sk,
              ss_sold_date_sk  as date_sk,
              ss_ext_sales_price as sales_price,
              ss_net_profit as profit,
              cast(0 as decimal(7,2)) as return_amt,
              cast(0 as decimal(7,2)) as net_loss
      select sr_store_sk as store_sk,
             sr_returned_date_sk as date_sk,
             cast(0 as decimal(7,2)) as sales_price,
             cast(0 as decimal(7,2)) as profit,
             sr_return_amt as return_amt,
   where date_sk = d_date_sk
         and d_date between cast('[SALES_DATE]' as date)
                    and (cast('[SALES_DATE]' as date) +  14 days)
         and store_sk = s_store_sk