In [62]:
import pandas as pd

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.set_option('precision', 7)

In [63]:
%store -r dfsf7
%store -r dfbq7

In [66]:
dfsf7.loc[24:28]

           I_ITEM_ID       AGG1          AGG2          AGG3         AGG4
24  AAAAAAAAAAMCAAAA  38.000000   86.38000000          0E-8   9.50000000
25  AAAAAAAAAANAAAAA  41.666667  126.09000000   19.15333333  47.18000000
26  AAAAAAAAAANBAAAA  46.750000   60.92250000  153.99500000  23.70250000
27  AAAAAAAAAANDAAAA  18.500000   47.64500000          0E-8  14.75500000
28  AAAAAAAAAAOCAAAA  67.000000  114.95500000          0E-8  18.60000000

In [67]:
dfbq7.loc[24:28]

           i_item_id        agg1      agg2         agg3     agg4
24  AAAAAAAAAAMCAAAA  38.0000000   86.3800    0.0000000   9.5000
25  AAAAAAAAAANAAAAA  41.6666667  126.0900   19.1533333  47.1800
26  AAAAAAAAAANBAAAA  46.7500000   60.9225  153.9950000  23.7025
27  AAAAAAAAAANDAAAA  18.5000000   47.6450    0.0000000  14.7550
28  AAAAAAAAAAOCAAAA  67.0000000  114.9550    0.0000000  18.6000

In [68]:
dfsf7.dtypes

I_ITEM_ID    object
AGG1         object
AGG2         object
AGG3         object
AGG4         object
dtype: object

In [69]:
dfbq7.dtypes

i_item_id     object
agg1         float64
agg2         float64
agg3         float64
agg4         float64
dtype: object

In [70]:
import tools

In [71]:
dfsf7c = tools.to_consistent(dfsf7)
dfbq7c = tools.to_consistent(dfbq7)

In [87]:
dfsf7c.loc[24:28]

           i_item_id       agg1      agg2         agg3     agg4
24  AAAAAAAAAAMCAAAA  38.000000   86.3800    0.0000000   9.5000
25  AAAAAAAAAANAAAAA  41.666667  126.0900   19.1533333  47.1800
26  AAAAAAAAAANBAAAA  46.750000   60.9225  153.9950000  23.7025
27  AAAAAAAAAANDAAAA  18.500000   47.6450    0.0000000  14.7550
28  AAAAAAAAAAOCAAAA  67.000000  114.9550    0.0000000  18.6000

In [88]:
dfbq7c.loc[24:28]

           i_item_id        agg1      agg2         agg3     agg4
24  AAAAAAAAAAMCAAAA  38.0000000   86.3800    0.0000000   9.5000
25  AAAAAAAAAANAAAAA  41.6666667  126.0900   19.1533333  47.1800
26  AAAAAAAAAANBAAAA  46.7500000   60.9225  153.9950000  23.7025
27  AAAAAAAAAANDAAAA  18.5000000   47.6450    0.0000000  14.7550
28  AAAAAAAAAAOCAAAA  67.0000000  114.9550    0.0000000  18.6000

In [74]:
dfsf7c.equals(dfbq7c)

False

In [75]:
from pandas.testing import assert_frame_equal

In [76]:
def equals(df1, df2):
    try:
        assert_frame_equal(df1, df2, check_names=False)
        return True
    except AssertionError:
        return False

In [77]:
assert_frame_equal(dfbq7c, dfsf7c)

In [78]:
equals(dfsf7c, dfbq7c)

True

In [79]:
eq = dfsf7c.eq(dfbq7c)
eq.loc[0:5]

   i_item_id  agg1   agg2   agg3  agg4
0       True  True   True   True  True
1       True  True   True   True  True
2       True  True   True   True  True
3       True  True  False  False  True
4       True  True   True   True  True
5       True  True   True   True  True

In [80]:
dfbq7c.loc[3]

i_item_id    AAAAAAAAAABBAAAA
agg1                       91
agg2                      NaN
agg3                      NaN
agg4                     3.13
Name: 3, dtype: object

In [81]:
dfsf7c.loc[3]

i_item_id    AAAAAAAAAABBAAAA
agg1                       91
agg2                      NaN
agg3                      NaN
agg4                     3.13
Name: 3, dtype: object

In [82]:
dfbq7c.loc[3] == dfsf7c.loc[3]

i_item_id     True
agg1          True
agg2         False
agg3         False
agg4          True
Name: 3, dtype: bool

In [83]:
type(dfbq7c.loc[3, "agg2"])

numpy.float64

In [84]:
type(dfsf7c.loc[3, "agg2"])

numpy.float64

In [85]:
import numpy as np

In [86]:
pd.isnull(dfbq7c.loc[3, "agg2"])

True