In [43]:
import sqlparse

import sql_dev

import config, h_setup

In [12]:
tpl_dir = config.fp_query_templates + config.sep + "bq_h"
tpl_dir

'/home/colin/code/bq_snowflake_benchmark/tpl/bq_h'

In [13]:
query_text = h_setup.qgen_template(n=1, 
                                   templates_dir=tpl_dir,
                                   scale=100)
print(query_text)

select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date_sub(cast('1998-12-01' as date), interval '103' day)
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus;

In [16]:
list_sql = sqlparse.split(query_text)
for line in list_sql:
    print(line)
    print("-"*40)

select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date_sub(cast('1998-12-01' as date), interval '103' day)
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus;
----------------------------------------

----------------------------------------

In [17]:
p_list = sqlparse.parse(query_text)

In [19]:
for statement in p_list:
    print(statement)
    print("-"*40)

select
	l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order
from
	lineitem
where
	l_shipdate <= date_sub(cast('1998-12-01' as date), interval '103' day)
group by
	l_returnflag,
	l_linestatus
order by
	l_returnflag,
	l_linestatus;
----------------------------------------


----------------------------------------

In [22]:
s = p_list[0]

In [26]:
t = s.tokens

In [29]:
print(t[0])

select

In [30]:
t

[<DML 'select' at 0x7F2D115F8A00>,
 <Newline ' ' at 0x7F2D115F8DC0>,
 <Whitespace ' ' at 0x7F2D115F8E20>,
 <IdentifierList 'l_retu...' at 0x7F2D115F66D0>,
 <Newline ' ' at 0x7F2D115FCD60>,
 <Keyword 'from' at 0x7F2D115FCDC0>,
 <Newline ' ' at 0x7F2D115FCE20>,
 <Whitespace ' ' at 0x7F2D115FCE80>,
 <Identifier 'lineit...' at 0x7F2D115F4C10>,
 <Newline ' ' at 0x7F2D115FCF40>,
 <Where 'where ...' at 0x7F2D115F0D60>,
 <Keyword 'group ...' at 0x7F2D115FD9A0>,
 <Newline ' ' at 0x7F2D115FDA00>,
 <Whitespace ' ' at 0x7F2D115FDA60>,
 <IdentifierList 'l_retu...' at 0x7F2D115F6740>,
 <Newline ' ' at 0x7F2D115FDCA0>,
 <Keyword 'order ...' at 0x7F2D115FDD00>,
 <Newline ' ' at 0x7F2D115FDD60>,
 <Whitespace ' ' at 0x7F2D115FDDC0>,
 <IdentifierList 'l_retu...' at 0x7F2D115F6430>,
 <Punctuation ';' at 0x7F2D1157F040>]

In [31]:
t[3]

In [33]:
i = t[3]
print(i)

l_returnflag,
	l_linestatus,
	sum(l_quantity) as sum_qty,
	sum(l_extendedprice) as sum_base_price,
	sum(l_extendedprice * (1 - l_discount)) as sum_disc_price,
	sum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,
	avg(l_quantity) as avg_qty,
	avg(l_extendedprice) as avg_price,
	avg(l_discount) as avg_disc,
	count(*) as count_order

In [40]:
for x in i.get_identifiers():
    x.__dict__

In [42]:
list(i.get_identifiers())

[<Identifier 'l_retu...' at 0x7F2D115F0E40>,
 <Identifier 'l_line...' at 0x7F2D115F4890>,
 <Identifier 'sum(l_...' at 0x7F2D115F6270>,
 <Identifier 'sum(l_...' at 0x7F2D115F62E0>,
 <Identifier 'sum(l_...' at 0x7F2D115F6350>,
 <Identifier 'sum(l_...' at 0x7F2D115F63C0>,
 <Identifier 'avg(l_...' at 0x7F2D115F64A0>,
 <Identifier 'avg(l_...' at 0x7F2D115F6510>,
 <Identifier 'avg(l_...' at 0x7F2D115F6580>,
 <Identifier 'count(...' at 0x7F2D115F65F0>]

In [46]:
import sql_dev

In [47]:
type(sql_dev)

module

In [ ]:
sql_dev.ex

In [45]:
query_text

"select\n\tl_returnflag,\n\tl_linestatus,\n\tsum(l_quantity) as sum_qty,\n\tsum(l_extendedprice) as sum_base_price,\n\tsum(l_extendedprice * (1 - l_discount)) as sum_disc_price,\n\tsum(l_extendedprice * (1 - l_discount) * (1 + l_tax)) as sum_charge,\n\tavg(l_quantity) as avg_qty,\n\tavg(l_extendedprice) as avg_price,\n\tavg(l_discount) as avg_disc,\n\tcount(*) as count_order\nfrom\n\tlineitem\nwhere\n\tl_shipdate <= date_sub(cast('1998-12-01' as date), interval '103' day)\ngroup by\n\tl_returnflag,\n\tl_linestatus\norder by\n\tl_returnflag,\n\tl_linestatus;\n"

In [44]:
sql_dev.extract_table_identifiers(query_text)

AttributeError: module 'sql_dev' has no attribute 'extract_table_identifiers'