### TPC Benchmark - Query History  
Note: NB_06, NB_07 and NB_08 use shared variables. Run in order 6, 7, 8.

In [1]:
import os
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

sns.set_context("notebook", font_scale=1.0, rc={"lines.linewidth": 1.0})

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

import config, sfa, bqa, tools

In [2]:
%store -r results_dir

In [3]:
results_dir

'/home/colin/code/bq_snowflake_benchmark/results/results_bqsf_ds_100GB_01_test-01_2020-07-10_09:32:27.385122'

In [4]:
def exp_log_t0(results_dir):
    """Get query history for experiment"""
    fps_time = glob.glob(results_dir + config.sep + "benchmark_times*")
    source_csv = {k:v for k,v in zip([os.path.basename(x).split("_")[2] for x in fps_time], fps_time)}
    dfsf = pd.read_csv(source_csv["sf"])
    dfbq = pd.read_csv(source_csv["bq"])
    df = pd.concat([dfsf, dfbq])
    t0 = df.driver_t0.min()
    t0 = pd.to_datetime(t0)
    return t0

In [5]:
t0 = exp_log_t0(results_dir)
t0

Timestamp('2020-07-10 16:32:28.756704+0000', tz='UTC')

In [6]:
t_buffer = pd.Timedelta("20 minutes")
t_buffer

Timedelta('0 days 00:20:00')

In [7]:
sf = sfa.SFTPC(test="ds",
               scale=1,
               cid="01",
               warehouse="TEST9000",
               desc="query_history",
               verbose=False,
               verbose_query=False)
sf.connect()
df_sf_history_sq, qid_sf = sf.query_history(t0=pd.to_datetime(t0) - t_buffer,
                                            t1=pd.Timestamp.now())

sf.close()

In [8]:
df_sf_history_sq.shape

(0, 41)

In [9]:
%store df_sf_history_sq

Stored 'df_sf_history_sq' (DataFrame)

In [10]:
sf = sfa.AU(warehouse="TEST9000")
sf.connect()

df_sf_history_av, qid_sf = sf.query_history_view(t0=pd.to_datetime(t0) - t_buffer,
                                                 t1=pd.Timestamp.utcnow())

sf.close()

In [11]:
df_sf_history_av.shape

(207, 59)

In [12]:
%store df_sf_history_av

Stored 'df_sf_history_av' (DataFrame)

df_sf_history_av.dtypes

In [13]:
df_sf_history_av.to_csv(results_dir + config.sep + "query_history_sf.csv")

In [14]:
bq = bqa.BQTPC(test="ds",
               scale=1,
               cid="01",
               desc="query_history",
               verbose=False,
               verbose_query=True)

df_bq_history, qid_bq = bq.query_history(t0=pd.to_datetime(t0) - t_buffer,
                                         t1=pd.Timestamp.utcnow())

BIGQUERY QUERY TEXT
===================
select * from `region-us`.INFORMATION_SCHEMA.JOBS_BY_PROJECT where job_type = 'QUERY' and end_time between '2020-07-10 16:12:28' AND '2020-07-10 17:39:39'

In [15]:
%store df_bq_history

Stored 'df_bq_history' (DataFrame)

In [16]:
df_bq_history.shape

(103, 21)

In [17]:
df_bq_history

,creation_time,project_id,project_number,user_email,job_id,job_type,statement_type,start_time,end_time,query,state,reservation_id,total_bytes_processed,total_slot_ms,error_result,cache_hit,destination_table,referenced_tables,labels,timeline,job_stages
0,2020-07-10 16:47:40.032000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,cee20f95-ecff-4b05-9592-a4590d541101,QUERY,SELECT,2020-07-10 16:47:40.189000+00:00,2020-07-10 16:47:40.690000+00:00,\nselect distinct(i_product_name)\n from item...,DONE,None,14945614,384,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q41-1-...","[{'elapsed_ms': 477, 'total_slot_ms': 384, 'pe...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
1,2020-07-10 16:46:44.046000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,57714a80-e57d-4938-a021-f4ebd697f176,QUERY,SELECT,2020-07-10 16:46:44.198000+00:00,2020-07-10 16:46:44.849000+00:00,\nselect \n\tcount(*) as r1\nfrom store_sales\...,DONE,None,6602940020,63047,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q96-1-...","[{'elapsed_ms': 622, 'total_slot_ms': 63047, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
2,2020-07-10 16:52:17.280000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,9135d0c4-71bf-40a0-b1fc-a9618a96ab79,QUERY,SELECT,2020-07-10 16:52:17.499000+00:00,2020-07-10 16:52:18.276000+00:00,"\nselect i_brand_id brand_id, i_brand brand,\...",DONE,None,6714733437,75195,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q55-1-...","[{'elapsed_ms': 620, 'total_slot_ms': 75096, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
3,2020-07-10 16:51:18.464000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,85988636-1945-47fc-8af0-8a5f65a68cb4,QUERY,SELECT,2020-07-10 16:51:18.605000+00:00,2020-07-10 16:51:19.340000+00:00,"\nselect s_store_name, s_store_id,\n s...",DONE,None,6602557221,77108,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q43-1-...","[{'elapsed_ms': 617, 'total_slot_ms': 76783, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
4,2020-07-10 16:47:08.711000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,19025228-ebbc-4b91-907f-b31bfa43faee,QUERY,SELECT,2020-07-10 16:47:08.864000+00:00,2020-07-10 16:47:09.692000+00:00,"\nselect dt.d_year \n ,item.i_brand_id ...",DONE,None,6714733453,74555,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q3-1-t...","[{'elapsed_ms': 628, 'total_slot_ms': 73626, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
5,2020-07-10 17:11:26.959000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,89ed0709-cddb-4532-93cf-b3f10ffd1e6d,QUERY,SELECT,2020-07-10 17:11:27.106000+00:00,2020-07-10 17:11:27.935000+00:00,"\nselect dt.d_year\n \t,item.i_category_id\n ...",DONE,None,6712645644,64358,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q42-1-...","[{'elapsed_ms': 613, 'total_slot_ms': 63570, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
6,2020-07-10 16:48:23.369000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,7709c3c9-6523-4f77-969e-f515dac85794,QUERY,SELECT,2020-07-10 16:48:23.539000+00:00,2020-07-10 16:48:24.250000+00:00,"\nselect dt.d_year\n \t,item.i_brand_id brand...",DONE,None,6714733437,71698,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q52-1-...","[{'elapsed_ms': 614, 'total_slot_ms': 71653, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
7,2020-07-10 16:52:31.846000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,9d64fb4f-9bef-4da7-a327-e3626828619e,QUERY,SELECT,2020-07-10 16:52:32.075000+00:00,2020-07-10 16:52:33.829000+00:00,"\nselect i_item_id\n ,i_item_desc \n ...",DONE,None,3477317982,331991,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q20-1-...","[{'elapsed_ms': 649, 'total_slot_ms': 97761, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
8,2020-07-10 16:47:17.239000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,24629737-368f-4dbb-a531-11ad06a4523b,QUERY,SELECT,2020-07-10 16:47:17.457000+00:00,2020-07-10 16:47:18.745000+00:00,"\nselect i_item_id\n ,i_item_desc \n ...",DONE,None,1760068854,76438,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q12-1-...","[{'elapsed_ms': 644, 'total_slot_ms': 19759, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
9,2020-07-10 16:46:21.764000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,79b7dc63-d684-49f7-8038-1db62246d984,QUERY,SELECT,2020-07-10 16:46:21.933000+00:00,2020-07-10 16:46:24.668000+00:00,"\nselect i_item_id\n ,i_item_desc \n ...",DONE,None,6737005206,232891,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q98-1-...","[{'elapsed_ms': 626, 'total_slot_ms': 51309, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
10,2020-07-10 16:52:24.219000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,09ba9847-3787-4b4c-9199-400802241487,QUERY,SELECT,2020-07-10 16:52:24.339000+00:00,2020-07-10 16:52:26.747000+00:00,\nselect *\n from(select w_warehouse_name\n ...,DONE,None,12626881618,119847,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q21-1-...","[{'elapsed_ms': 632, 'total_slot_ms': 10149, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
11,2020-07-10 16:50:45.958000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,3a08225b-1cbd-403b-8f58-94f226108689,QUERY,SELECT,2020-07-10 16:50:46.128000+00:00,2020-07-10 16:50:47.793000+00:00,"\nselect \n sum(ws_net_paid) as total_sum,\...",DONE,None,1733858739,102082,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q86-1-...","[{'elapsed_ms': 607, 'total_slot_ms': 35312, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
12,2020-07-10 16:50:43.090000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,b6b8e446-f8fd-47f2-b735-6104008b2ff8,QUERY,SELECT,2020-07-10 16:50:43.248000+00:00,2020-07-10 16:50:44.962000+00:00,"\nselect i_item_id\n ,i_item_desc\n ...",DONE,None,10606850787,216074,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q37-1-...","[{'elapsed_ms': 620, 'total_slot_ms': 45504, '...","[{'name': 'S01: Input', 'id': 1, 'start_ms': 1..."
13,2020-07-10 17:11:02.973000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,65c0a8d3-ba8e-4b26-85fb-a58cc3ea3c76,QUERY,SELECT,2020-07-10 17:11:03.117000+00:00,2020-07-10 17:11:04.114000+00:00,"\nselect \n substr(w_warehouse_name,1,20) as...",DONE,None,2880032656,68216,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q62-1-...","[{'elapsed_ms': 675, 'total_slot_ms': 39546, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
14,2020-07-10 17:10:21.837000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,5edff376-a901-435b-b87d-795b6ffa6933,QUERY,SELECT,2020-07-10 17:10:22.022000+00:00,2020-07-10 17:10:23.208000+00:00,"\nselect *\nfrom(\nselect i_category, i_class...",DONE,None,8915295579,143363,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q89-1-...","[{'elapsed_ms': 634, 'total_slot_ms': 108871, ...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
15,2020-07-10 16:52:14.877000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,cb76da45-5fd8-4df5-b454-0f2f039394ac,QUERY,SELECT,2020-07-10 16:52:15.086000+00:00,2020-07-10 16:52:16.039000+00:00,"\nselect * from \n(select i_manufact_id,\nsum...",DONE,None,8916917816,77796,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q53-1-...","[{'elapsed_ms': 634, 'total_slot_ms': 71672, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
16,2020-07-10 16:47:03.962000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,63d000a1-ed0a-4111-bbda-9e174340da23,QUERY,SELECT,2020-07-10 16:47:04.207000+00:00,2020-07-10 16:47:05.129000+00:00,\nselect * \nfrom (select i_manager_id\n ...,DONE,None,8916917800,76770,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q63-1-...","[{'elapsed_ms': 654, 'total_slot_ms': 72539, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
17,2020-07-10 16:48:48.134000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,cbc6a1de-6461-4c87-8768-142f35633d36,QUERY,SELECT,2020-07-10 16:48:48.422000+00:00,2020-07-10 16:48:50.315000+00:00,"\nselect i_item_id\n ,i_item_desc\n ...",DONE,None,11758679555,286379,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q82-1-...","[{'elapsed_ms': 645, 'total_slot_ms': 28868, '...","[{'name': 'S01: Input', 'id': 1, 'start_ms': 1..."
18,2020-07-10 17:10:06.770000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,94703722-48aa-4a30-8890-85cfb0915f6d,QUERY,SELECT,2020-07-10 17:10:06.935000+00:00,2020-07-10 17:10:21.142000+00:00,"\nselect i_product_name\n ,i_bran...",DONE,None,9439189886,958142,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q22-1-...","[{'elapsed_ms': 625, 'total_slot_ms': 22405, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
19,2020-07-10 16:47:06.168000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,b1a1809a-5a8e-4f85-8ea6-4788b7ee3da1,QUERY,SELECT,2020-07-10 16:47:06.334000+00:00,2020-07-10 16:47:07.663000+00:00,"\nselect \n substr(w_warehouse_name,1,20) a...",DONE,None,5732739189,118253,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q99-1-...","[{'elapsed_ms': 648, 'total_slot_ms': 67980, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
20,2020-07-10 16:46:49.922000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,d7bdd58a-835b-43b6-80c3-5f26aab59f78,QUERY,SELECT,2020-07-10 16:46:50.107000+00:00,2020-07-10 16:46:52.003000+00:00,\nselect \n sum(ss_net_profit)/sum(ss_ext_s...,DONE,None,11111264895,351200,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q36-1-...","[{'elapsed_ms': 649, 'total_slot_ms': 57493, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
21,2020-07-10 16:46:11.548000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,e3291dd2-9780-4c96-bcef-0eb79767fa8b,QUERY,SELECT,2020-07-10 16:46:11.823000+00:00,2020-07-10 16:46:13.731000+00:00,\nselect \n sum(ws_ext_discount_amt) as ex...,DONE,None,1731886880,178546,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q92-1-...","[{'elapsed_ms': 714, 'total_slot_ms': 32404, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
22,2020-07-10 16:51:03.334000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,e0385594-c4b6-4f65-8fba-2dc00ebf2bbf,QUERY,SELECT,2020-07-10 16:51:03.519000+00:00,2020-07-10 16:51:10.172000+00:00,\nwith ssci as (\nselect ss_customer_sk custom...,DONE,None,10150245088,615180,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q97-1-...","[{'elapsed_ms': 622, 'total_slot_ms': 95684, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
23,2020-07-10 16:47:41.567000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,82feaa91-7477-453e-b0ea-e1650bd60c32,QUERY,SELECT,2020-07-10 16:47:41.749000+00:00,2020-07-10 16:47:43.564000+00:00,"\nselect \n i_item_id,\n s_state,\n avg(ss_...",DONE,None,17761182244,357461,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q27-1-...","[{'elapsed_ms': 642, 'total_slot_ms': 49515, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
24,2020-07-10 16:52:27.388000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,84e10278-e3e6-4bec-8034-6a45501e9f21,QUERY,SELECT,2020-07-10 16:52:27.529000+00:00,2020-07-10 16:52:31.104000+00:00,"\nselect ca_zip\n ,sum(cs_sales_price) ...",DONE,None,3491362620,952534,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q15-1-...","[{'elapsed_ms': 633, 'total_slot_ms': 140102, ...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
25,2020-07-10 16:52:57.313000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,c72d7224-1ac3-43ab-90da-e6c44c25e82c,QUERY,SELECT,2020-07-10 16:52:57.472000+00:00,2020-07-10 16:52:59.591000+00:00,\nselect sum (ss_quantity) as r1\n from store_...,DONE,None,15472619641,335029,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q48-1-...","[{'elapsed_ms': 625, 'total_slot_ms': 46161, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
26,2020-07-10 17:09:49.546000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,6843d6b7-3e3a-412e-bc04-84ad2092a17e,QUERY,SELECT,2020-07-10 17:09:49.720000+00:00,2020-07-10 17:09:52.227000+00:00,"\nselect c_last_name\n ,c_first_name\n ...",DONE,None,11169594305,122547,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q34-1-...","[{'elapsed_ms': 634, 'total_slot_ms': 104627, ...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
27,2020-07-10 17:10:23.913000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,35b0a8a9-b0f6-42b4-a28b-b3920e524d18,QUERY,SELECT,2020-07-10 17:10:24.127000+00:00,2020-07-10 17:10:26.655000+00:00,"\nselect i_item_id, \n avg(ss_quantity...",DONE,None,17761196636,405785,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q7-1-t...","[{'elapsed_ms': 672, 'total_slot_ms': 44896, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
28,2020-07-10 16:51:13.941000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,0e6c0b4c-8f97-427f-9f70-7f52cb02bfc4,QUERY,SELECT,2020-07-10 16:51:14.118000+00:00,2020-07-10 16:51:17.565000+00:00,"\nselect \n c_last_name,\n c_first_name,\n ...",DONE,None,17754333814,202021,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q79-1-...","[{'elapsed_ms': 656, 'total_slot_ms': 50881, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
29,2020-07-10 16:46:39.592000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,7fedb97b-d7a6-4d2c-ac01-40ac115ddd5e,QUERY,SELECT,2020-07-10 16:46:39.762000+00:00,2020-07-10 16:46:42.855000+00:00,"\nselect \n w_state\n ,i_item_id\n ,sum(c...",DONE,None,6094544852,312233,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q40-1-...","[{'elapsed_ms': 672, 'total_slot_ms': 2764, 'p...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
30,2020-07-10 16:48:40.915000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,9a7660ba-1964-407b-8ab2-e8c4e3ffa5db,QUERY,SELECT,2020-07-10 16:48:41.111000+00:00,2020-07-10 16:48:42.779000+00:00,"\nselect i_item_id, \n avg(cs_quantity...",DONE,None,9231867036,222834,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q26-1-...","[{'elapsed_ms': 657, 'total_slot_ms': 40950, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
31,2020-07-10 17:10:51.331000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,39007ecd-4594-40b6-b3ee-2fb3dee54aab,QUERY,SELECT,2020-07-10 17:10:51.497000+00:00,2020-07-10 17:10:53.266000+00:00,"\nselect c_last_name\n ,c_first_name\n ...",DONE,None,11169594305,133437,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q73-1-...","[{'elapsed_ms': 649, 'total_slot_ms': 22015, '...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."
32,2020-07-10 17:10:35.347000+00:00,tpc-benchmarking-9432,476262002685,tpc-service-account-2@tpc-benchmarking-9432.ia...,12976fad-f2c0-4679-9d61-ba752babe2ad,QUERY,SELECT,2020-07-10 17:10:35.532000+00:00,2020-07-10 17:10:37.731000+00:00,"\nselect i_brand_id brand_id, i_brand brand,t_...",DONE,None,15811630397,243191,None,False,"{'project_id': 'tpc-benchmarking-9432', 'datas...","[{'project_id': 'tpc-benchmarking-9432', 'data...","[{'key': 'label', 'value': 'ds_100gb_01-q71-1-...","[{'elapsed_ms': 667, 'total_slot_ms': 197722, ...","[{'name': 'S00: Input', 'id': 0, 'start_ms': 1..."

df_bq_history.dtypes

In [18]:
df_bq_history.to_csv(results_dir + config.sep + "query_history_bq.csv")