In [5]:
import os
import glob

In [1]:
import pandas as pd

In [2]:
import config

In [3]:
config.fp_ds_answers

'/home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/answer_sets'

In [9]:
files = glob.glob(config.fp_ds_answers + config.sep + "*.ans")
data = []
for fp in files:
    file_name = os.path.basename(fp)
    data.append([file_name, fp])
dffp = pd.DataFrame(data, columns=["fp", "ffp"])

In [10]:
dffp

                     fp                                                ffp
0    62_NULLS_FIRST.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
1     62_NULLS_LAST.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
2                29.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
3     22_NULLS_LAST.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
4                83.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
..                  ...                                                ...
124              95.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
125  79_NULLS_FIRST.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
126              75.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
127  23_NULLS_FIRST.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....
128              50.ans  /home/colin/code/bq_snowflake_benchmark/ds/v2....

[129 rows x 2 columns]

In [20]:
x = dffp.loc[0, "fp"]
x

'62_NULLS_FIRST.ans'

In [19]:
y = dffp.loc[2, "fp"]
y

'29.ans'

In [21]:
x.split(".")[0]

'62_NULLS_FIRST'

In [50]:
def f(fname):
    x = fname.split(".")
    y = x[0]
    z = y.split("_")
    #print(x, y, z)
    a = len(z)
    #print(a)
    n = z[0]
    #print(n)
    locate = "NA"
    if a == 3:
        locate = z[2]
    return n, locate

In [48]:
f(y)

NA

('29', 'NA')

In [49]:
f(x)

FIRST

('62', 'FIRST')

In [51]:
dffp.fp.apply(f)

0      (62, FIRST)
1       (62, LAST)
2         (29, NA)
3       (22, LAST)
4         (83, NA)
          ...
124       (95, NA)
125    (79, FIRST)
126       (75, NA)
127    (23, FIRST)
128       (50, NA)
Name: fp, Length: 129, dtype: object

In [59]:
def f(fname):
    y = fname.split(".")[0]
    z = y.split("_")
    return y, z

In [60]:
def fn(fname):
    _, z = f(fname)
    n = z[0]
    return n

In [61]:
def fnull(fname):
    _, z = f(fname)
    locate = "NA"
    if len(z) == 3:
        locate = z[2]
    return locate

In [62]:
dffp["fn"] = dffp.fp.apply(fn)

In [64]:
dffp["fnull"] = dffp.fp.apply(fnull)

In [65]:
dffp.head()

,fp,ffp,fn,fnull
0,62_NULLS_FIRST.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,62,FIRST
1,62_NULLS_LAST.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,62,LAST
2,29.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,29,NA
3,22_NULLS_LAST.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,22,LAST
4,83.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,83,NA

In [73]:
dffp.fn = dffp.fn.astype(int)

In [79]:
dffp = dffp.sort_values(by=["fn"], axis=0)

In [81]:
dffp.reset_index(inplace=True, drop=True)

In [82]:
dffp.head()

,fp,ffp,fn,fnull
0,1.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,1,NA
1,2.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,2,NA
2,3.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,3,NA
3,4.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,4,NA
4,5_NULLS_FIRST.ans,/home/colin/code/bq_snowflake_benchmark/ds/v2....,5,FIRST

df = pd.read_csv(dffp.loc[1, "ffp"], sep="\t", header=0, skiprows=2)

df

pd.read_csv?

In [94]:
dffp.loc[1, "ffp"]

'/home/colin/code/bq_snowflake_benchmark/ds/v2.11.0rc2/answer_sets/2.ans'

In [130]:
header = ""
data = []
with open(dffp.loc[0, "ffp"], "r") as f:
    c = 0
    for line in f:
        if c == 0:
            header = line
            c += 1
        elif c == 1:
            c += 1
        elif line == "\n":
            break
            print("HERE >> ", c)
        else:
            line_data = line.strip().split("\t")
            if len(line_data) == 1:
                line_data = line_data[0]
            data.append(line_data)
            c += 1
header = header.strip().split("\t")
print(header)

['C_CUSTOMER_ID']

In [142]:
def parse_ans(fp):
    """Parse the answer files to the TPC-DS validiation/qualification
    1GB dataset and queries
    
    Parameters
    ----------
    fp : str, absolute path to answer file, with .ans file extension
    
    Returns
    -------
    header : list of str, column names
    data : list of list, data from tab delimited data
    """
    header = ""
    data = []
    with open(fp, "r") as f:
        c = 0
        for line in f:
            if c == 0:
                header = line
                c += 1
            elif c == 1:
                c += 1
            elif line == "\n":
                break
                print("HERE >> ", c)
            else:
                line_data = line.strip().split(" ")
                if len(line_data) == 1:
                    line_data = line_data[0]
                data.append(line_data)
                c += 1
    header = header.strip().split("\t")
    return header, data

In [143]:
h, d = parse_ans(dffp.loc[2, "ffp"])

In [144]:
d

[['1998',
  '',
  '',
  '',
  '2001001',
  'amalgimporto',
  '#1\t\t\t\t\t',
  '',
  '',
  '45162.45'],
 ['1998',
  '',
  '',
  '',
  '5003001',
  'exportischolar',
  '#1',
  '\t\t\t\t',
  '',
  '',
  '40600.56'],
 ['1998',
  '',
  '',
  '',
  '5001001',
  'amalgscholar',
  '#1\t\t\t\t\t',
  '',
  '',
  '32515.11'],
 ['1998',
  '',
  '',
  '',
  '3004001',
  'edu',
  'packexporti',
  '#1\t\t\t\t',
  '',
  '',
  '32443.16'],
 ['1998',
  '',
  '',
  '',
  '3001001',
  'amalgexporti',
  '#1\t\t\t\t\t',
  '',
  '',
  '30280.72'],
 ['1998',
  '',
  '',
  '',
  '3001002',
  'amalgexporti',
  '#2\t\t\t\t\t',
  '',
  '',
  '27644.68'],
 ['1998',
  '',
  '',
  '',
  '1003001',
  'exportiamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '',
  '25408.1'],
 ['1998',
  '',
  '',
  '',
  '7007010',
  'brandbrand',
  '#10\t\t\t\t\t',
  '',
  '',
  '23346.45'],
 ['1998',
  '',
  '',
  '',
  '8001009',
  'amalgnameless',
  '#9\t\t\t\t\t',
  '',
  '',
  '20792.57'],
 ['1998',
  '',
  '',
  '10010002',
  'univamalgamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '20398.9'],
 ['1998',
  '',
  '',
  '',
  '7009008',
  'maxibrand',
  '#8\t\t\t\t\t',
  '',
  '',
  '19199.75'],
 ['1998',
  '',
  '',
  '',
  '6004008',
  'edu',
  'packcorp',
  '#8\t\t\t\t\t',
  '',
  '',
  '18022.24'],
 ['1998',
  '',
  '',
  '',
  '1004001',
  'edu',
  'packamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '17434.09'],
 ['1998',
  '',
  '',
  '10001002',
  'amalgunivamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '15434.73'],
 ['1998',
  '',
  '',
  '',
  '5004001',
  'edu',
  'packscholar',
  '#1\t\t\t\t',
  '',
  '',
  '',
  '15184.4'],
 ['1998',
  '',
  '',
  '',
  '7003009',
  'exportibrand',
  '#9\t\t\t\t\t',
  '',
  '',
  '11669.32'],
 ['1998',
  '',
  '',
  '',
  '1001002',
  'amalgamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '10725.87'],
 ['1998',
  '',
  '',
  '',
  '5003002',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '10250.29'],
 ['1999',
  '',
  '',
  '',
  '7003009',
  'exportibrand',
  '#9\t\t\t\t\t',
  '',
  '',
  '60081.08'],
 ['1999',
  '',
  '',
  '',
  '3004001',
  'edu',
  'packexporti',
  '#1\t\t\t\t',
  '',
  '',
  '57285.04'],
 ['1999',
  '',
  '',
  '',
  '2001001',
  'amalgimporto',
  '#1\t\t\t\t\t',
  '',
  '',
  '46294.06'],
 ['1999',
  '',
  '',
  '',
  '5004001',
  'edu',
  'packscholar',
  '#1\t\t\t\t',
  '',
  '',
  '29587.74'],
 ['1999',
  '',
  '',
  '',
  '1003001',
  'exportiamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '28354.52'],
 ['1999',
  '',
  '',
  '10001002',
  'amalgunivamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '25166.82'],
 ['1999',
  '',
  '',
  '',
  '5003001',
  'exportischolar',
  '#1',
  '\t\t\t\t',
  '',
  '',
  '',
  '20350.8'],
 ['1999',
  '',
  '',
  '',
  '1001002',
  'amalgamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '18476.51'],
 ['1999',
  '',
  '',
  '',
  '5003002',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '17769.35'],
 ['1999',
  '',
  '',
  '',
  '7009008',
  'maxibrand',
  '#8\t\t\t\t\t',
  '',
  '',
  '16413.03'],
 ['1999',
  '',
  '',
  '',
  '1004001',
  'edu',
  'packamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '14950.65'],
 ['1999',
  '',
  '',
  '',
  '6004008',
  'edu',
  'packcorp',
  '#8\t\t\t\t\t',
  '',
  '',
  '14524.78'],
 ['1999',
  '',
  '',
  '',
  '3001001',
  'amalgexporti',
  '#1\t\t\t\t\t',
  '',
  '',
  '13895.01'],
 ['1999',
  '',
  '',
  '',
  '5001001',
  'amalgscholar',
  '#1\t\t\t\t\t',
  '',
  '',
  '11468.36'],
 ['1999',
  '',
  '',
  '',
  '7007010',
  'brandbrand',
  '#10\t\t\t\t\t',
  '',
  '',
  '10103.81'],
 ['1999',
  '',
  '',
  '10010002',
  'univamalgamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '7640.55'],
 ['1999',
  '',
  '',
  '',
  '8001009',
  'amalgnameless',
  '#9\t\t\t\t\t',
  '',
  '',
  '',
  '',
  '7324.5'],
 ['1999',
  '',
  '',
  '',
  '3001002',
  'amalgexporti',
  '#2\t\t\t\t\t',
  '',
  '',
  '',
  '2940.88'],
 ['2000',
  '',
  '',
  '',
  '1003001',
  'exportiamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '',
  '',
  '',
  '35841'],
 ['2000',
  '',
  '',
  '',
  '2001001',
  'amalgimporto',
  '#1\t\t\t\t\t',
  '',
  '',
  '32500.27'],
 ['2000',
  '',
  '',
  '',
  '3001002',
  'amalgexporti',
  '#2\t\t\t\t\t',
  '',
  '',
  '32059.56'],
 ['2000',
  '',
  '',
  '',
  '3004001',
  'edu',
  'packexporti',
  '#1\t\t\t\t',
  '',
  '',
  '29891.01'],
 ['2000',
  '',
  '',
  '',
  '1001002',
  'amalgamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '19888.62'],
 ['2000',
  '',
  '',
  '10001002',
  'amalgunivamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '19325.34'],
 ['2000',
  '',
  '',
  '',
  '3001001',
  'amalgexporti',
  '#1\t\t\t\t\t',
  '',
  '',
  '19261.58'],
 ['2000',
  '',
  '',
  '10008017',
  'namelessunivamalg',
  '#17\t\t\t\t',
  '',
  '',
  '',
  '17207.6'],
 ['2000',
  '',
  '',
  '',
  '5003002',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '16365.82'],
 ['2000',
  '',
  '',
  '',
  '5003001',
  'amalgunivamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '15140.3'],
 ['2000',
  '',
  '',
  '',
  '1004001',
  'edu',
  'packamalg',
  '#1\t\t\t\t\t',
  '',
  '',
  '15074.32'],
 ['2000',
  '',
  '',
  '',
  '7009008',
  'maxibrand',
  '#8\t\t\t\t\t',
  '',
  '',
  '15042.42'],
 ['2000',
  '',
  '',
  '',
  '5004001',
  'edu',
  'packscholar',
  '#1\t\t\t\t',
  '',
  '',
  '14744.21'],
 ['2000',
  '',
  '',
  '',
  '6004008',
  'edu',
  'packcorp',
  '#8\t\t\t\t\t',
  '',
  '',
  '13303.65'],
 ['2000',
  '',
  '',
  '',
  '7007010',
  'brandbrand',
  '#10\t\t\t\t\t',
  '',
  '',
  '12915.75'],
 ['2000',
  '',
  '',
  '',
  '7003009',
  'exportibrand',
  '#9\t\t\t\t\t',
  '',
  '',
  '',
  '11347.8'],
 ['2000',
  '',
  '',
  '',
  '8001009',
  'importoexporti',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '10520.76'],
 ['2001',
  '',
  '',
  '',
  '1001002',
  'amalgamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '40840.34'],
 ['2001',
  '',
  '',
  '',
  '1004001',
  'exportiexporti',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '27499.42'],
 ['2001',
  '',
  '',
  '10008017',
  'namelessunivamalg',
  '#17\t\t\t\t',
  '',
  '',
  '25766.09'],
 ['2001',
  '',
  '',
  '',
  '4001001',
  'scholaramalgamalg',
  '#15\t\t\t\t',
  '',
  '',
  '23917.98'],
 ['2001',
  '',
  '',
  '',
  '7007010',
  'brandbrand',
  '#10\t\t\t\t\t',
  '',
  '',
  '23807.16'],
 ['2001',
  '',
  '',
  '',
  '1003001',
  'exportiamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '21192.81'],
 ['2001',
  '',
  '',
  '',
  '6004008',
  'edu',
  'packcorp',
  '#8\t\t\t\t\t',
  '',
  '',
  '20966.17'],
 ['2001',
  '',
  '',
  '',
  '5003002',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '20410.45'],
 ['2001',
  '',
  '',
  '',
  '8001009',
  'importoexporti',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '19273.11'],
 ['2001',
  '',
  '',
  '',
  '3001002',
  'amalgexporti',
  '#2\t\t\t\t\t',
  '',
  '',
  '18047.23'],
 ['2001',
  '',
  '',
  '',
  '6005001',
  'edu',
  'packimporto',
  '#2\t\t\t\t',
  '',
  '',
  '16801.34'],
 ['2001',
  '',
  '',
  '',
  '2001001',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '15894.57'],
 ['2001',
  '',
  '',
  '',
  '5003001',
  'amalgunivamalg',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '15883.3'],
 ['2001',
  '',
  '',
  '',
  '7011010',
  'amalgnameless',
  '#10',
  '\t\t\t\t',
  '',
  '',
  '15174.18'],
 ['2001',
  '',
  '',
  '',
  '5004001',
  'edu',
  'packunivamalg',
  '#8\t\t\t\t',
  '',
  '',
  '10452.64'],
 ['2001',
  '',
  '',
  '',
  '8004010',
  'edu',
  'packnameless',
  '#10\t\t\t\t',
  '',
  '',
  '',
  '8565.95'],
 ['2001',
  '',
  '',
  '',
  '3001001',
  'importoscholar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '7765.96'],
 ['2001',
  '',
  '',
  '',
  '7009008',
  'maxibrand',
  '#8\t\t\t\t\t',
  '',
  '',
  '',
  '3570.11'],
 ['2002',
  '',
  '',
  '',
  '1001002',
  'amalgamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '57204.62'],
 ['2002',
  '',
  '',
  '',
  '6004008',
  'edu',
  'packcorp',
  '#8\t\t\t\t\t',
  '',
  '',
  '39584.99'],
 ['2002',
  '',
  '',
  '',
  '8004010',
  'edu',
  'packnameless',
  '#10\t\t\t\t',
  '',
  '',
  '30357.37'],
 ['2002',
  '',
  '',
  '',
  '3001002',
  'amalgexporti',
  '#2\t\t\t\t\t',
  '',
  '',
  '23025.23'],
 ['2002',
  '',
  '',
  '',
  '3001001',
  'importoscholar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '21157.23'],
 ['2002',
  '',
  '',
  '',
  '1003001',
  'exportiamalg',
  '#2\t\t\t\t\t',
  '',
  '',
  '20535.46'],
 ['2002',
  '',
  '',
  '',
  '7007010',
  'brandbrand',
  '#10\t\t\t\t\t',
  '',
  '',
  '19387.78'],
 ['2002',
  '',
  '',
  '',
  '7009008',
  'maxibrand',
  '#8\t\t\t\t\t',
  '',
  '',
  '17673.93'],
 ['2002',
  '',
  '',
  '',
  '5004001',
  'edu',
  'packunivamalg',
  '#8\t\t\t\t',
  '',
  '',
  '15175.94'],
 ['2002',
  '',
  '',
  '',
  '4001001',
  'scholaramalgamalg',
  '#15\t\t\t\t',
  '',
  '',
  '14984.83'],
 ['2002',
  '',
  '',
  '',
  '6005001',
  'edu',
  'packimporto',
  '#2\t\t\t\t',
  '',
  '',
  '14774.23'],
 ['2002',
  '',
  '',
  '',
  '1004001',
  'exportiexporti',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '13016.75'],
 ['2002',
  '',
  '',
  '',
  '7011010',
  'amalgnameless',
  '#10',
  '\t\t\t\t',
  '',
  '',
  '12343.97'],
 ['2002',
  '',
  '',
  '10008017',
  'amalgedu',
  'pack',
  '#1\t\t\t\t\t',
  '',
  '',
  '',
  '10334.4'],
 ['2002',
  '',
  '',
  '10013016',
  'exportiamalgamalg',
  '#16\t\t\t\t',
  '',
  '',
  '',
  '8356.19'],
 ['2002',
  '',
  '',
  '',
  '5003002',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '5435.81'],
 ['2002',
  '',
  '',
  '',
  '2001001',
  'exportischolar',
  '#2',
  '\t\t\t\t',
  '',
  '',
  '',
  '4162.39'],
 ['2002',
  '',
  '',
  '',
  '5001001',
  'amalgscholar',
  '#1\t\t\t\t\t',
  '',
  '',
  '',
  '3537.49']]

In [123]:
data[0:5]

['AAAAAAAAAAABBAAA',
 'AAAAAAAAAAADBAAA',
 'AAAAAAAAAAADBAAA',
 'AAAAAAAAAAAKAAAA',
 'AAAAAAAAAABDAAAA']

In [131]:
header

['C_CUSTOMER_ID']

In [132]:
pd.DataFrame(data, columns=header)

       C_CUSTOMER_ID
0   AAAAAAAAAAABBAAA
1   AAAAAAAAAAADBAAA
2   AAAAAAAAAAADBAAA
3   AAAAAAAAAAAKAAAA
4   AAAAAAAAAABDAAAA
..               ...
95  AAAAAAAAACBDAAAA
96  AAAAAAAAACBEBAAA
97  AAAAAAAAACBNAAAA
98  AAAAAAAAACBPAAAA
99  AAAAAAAAACCHAAAA

[100 rows x 1 columns]

In [90]:
x = "----------------"

In [91]:
set(x)

{'-'}

In [92]:
set(" ")

{' '}